.table-wrapper{
	height: 300px !important;
    max-height: 95% !important;
    overflow-y: auto !important;
}
span.imrt-update-text {
    font-size: 18px;
    font-family: raleway;
    text-transform: capitalize;
    margin: 10%;
}
.modal-body {
    width: 500px !important;
    margin: 0 auto;
}

.modal-imrt-name {
    margin: 10px;
}

.modal-imrt-comment {
    margin: 10px;
}

.modal-body label {
    padding: 0px;
    font-size: 15px;
}

.modal-body input{ width:100%;}

.modal-body textarea{width:100%;}

button.update-imrt-comments {
    margin-left: 10px;
    background: red !important;
    border-color: red;
    border-radius: 4px;
}

.modal-body span.imrt-update-text {
    margin-left: 2%;
}