/*Custom CSS
Ahy Consulting
Date: 20-04-2016
*/

@font-face {
  font-family: 'neonoire';
  src: url('SNNeoNoire-Regular.ttf');
}

@font-face {font-family: "Futura Medium BT V2";
  src: url("748d6a24c101e2a9b3e83eb785ab8306.eot"); /* IE9*/
  src: url("748d6a24c101e2a9b3e83eb785ab8306.eot?#iefix") format("embedded-opentype"), 
  url("748d6a24c101e2a9b3e83eb785ab8306.woff2") format("woff2"), 
  url("748d6a24c101e2a9b3e83eb785ab8306.woff") format("woff"),
  url("748d6a24c101e2a9b3e83eb785ab8306.ttf") format("truetype"),
  url("748d6a24c101e2a9b3e83eb785ab8306.svg#Futura Medium BT V2") format("svg");
}

@font-face {font-family: "Futura";
    src: url("http://db.onlinewebfonts.com/t/da950f2527dc01bebcbedd536e38c145.eot");
    src: url("http://db.onlinewebfonts.com/t/da950f2527dc01bebcbedd536e38c145.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/da950f2527dc01bebcbedd536e38c145.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/da950f2527dc01bebcbedd536e38c145.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/da950f2527dc01bebcbedd536e38c145.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/da950f2527dc01bebcbedd536e38c145.svg#Futura") format("svg");
}

/* @import url(https://fonts.googleapis.com/css?family=Londrina+Solid); */
@import url(https://fonts.googleapis.com/css?family=Lato);



#page{max-width: 5000px;}
#sidebar-pagebottom{ display: none;}
/*Home Page Starts*/
/*Styling post date*/
.ahy-post-date{ text-align: center;font-family: 'Lato', sans-serif;margin: 10px 0px !important;}
.ahy-post-date span{font-size: 21px;font-weight: 700;color: #000;}
.ahy-post-date b{text-transform: uppercase;}
.ahy-post-date b{ color:red;font-family: 'Lato', sans-serif;}
 span.post-dte {padding: 5px;font-weight: bold;}
 span.post-time {padding: 5px;color: #ccc;}
/*To remove the border of post*/
.ahy-image{ padding: 0px !important; border-radius: 0px !important}/*Important given b'cause it was not overriding default bootstrap css*/
/*Overlay on image */
/* .no-padd{height: 360px !important;padding: 0px 10px !important;margin: 0.85% 0px;} */

.ahy-overlay{font-family: 'Lato', sans-serif;position: absolute;display: inline-block;width: 92.3%;background: black;opacity: 0.6;top:100%;height:30%;z-index: 11;transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;border-bottom: 3px solid red;}
.add-margin{margin-bottom: 10px !important;}
.ahy-overlay p{font-size: 20px;font-weight: 400;color:#fff; text-align:left;padding: 0px 25px;margin-bottom: 0px;}
.homepage-image{max-height: 500px;}
/* .ahy-home-overlay{visibility: hidden;display: inline-block;position: relative;bottom: 80px;text-align: center;} */
.ahy-home-overlay{visibility: hidden;display: inline-block;position: relative;bottom: 50px;text-align: center;margin:0;color:#fff;}
.ahy-home-overlay p{color: #fff;font-size: 32px;line-height: 32px;font-weight: 100;margin-bottom: 0px !important;/* font-family: 'Londrina Solid', cursive; */margin-top: 10px;}
.ahy-overlay hr{width: 60%;margin: 0 auto;border:0px;border-bottom: 2px solid red;margin-left: 25px;}
body.home #page-posts{margin-top: 98px;}
 /*Home Page Ends*/ 

 /*No post header on each category page.*/
.ahy-nopost-header{text-align: center;}
.cat-pg{padding: 0 64px !important;}
/*Breadcrumb on each page*/
.item-cat a, .separator{font-weight: bold;}
.separator{padding:0 5px;}
/*To Keep the banner size same on each category page*/
/*.banner-img{max-height: 200px;border-bottom: 2px solid #DC1F23;width: 100%;margin-top:9.5%;}*/
p.cat-text {font-size: 0.8em;font-weight: 400;letter-spacing: 1px;}

/*Single Post Page Starts*/  
/*Comment form remove label*/
.comment-form, .comment-textarea, textarea{font-family: 'Lato', sans-serif;}
.comment-form label {display:none;}
.comment-form .form-submit .submit{font-family: 'Lato', sans-serif;border-radius: 0px; background-color: red; border-color: red; font-size: 22px;margin-top: 2px;}
.comment-form input{height: 50px;}
/*-webkit-input-placeholder{ color:#F2F2F2;}
-moz-placeholder{color:#F2F2F2;}
-ms-input-placeholder{color:#F2F2F2;}*/


/*To Hide the leave a comment link on single post page*/
#ahy-post-comment-tag{display: none;}
.post-views{display: inline-block;padding-left: 15px;}
.post-views span.post-views-count{display:block;text-align: center}
span.tags-links a{background-color: #ff0000;color: #fff !important;padding: 6px;}

/*Single Post Page Ends*/


/*Submit page starts*/
/*.ninja-forms-required-items{display: none;}*/
.ninja-forms-cont{padding: 0 60px;}
.ninja-forms-required-items{display: none;}
.field-wrap {font-size: 16px;font-family: 'Lato', sans-serif;}
.field-wrap label{font-weight: 500 !important;color: #767676 !important;}
#nf_submit_5 input , #nf_submit_1 input{background-color: #2D2D2D;color: #fff;border-radius: 0px;padding: 10px 20px;font-weight: 700;letter-spacing: 1px;text-transform: uppercase;}
.ahy-submit-page-text h2{text-align: center;font-size: 25px;margin: 0px;text-transform: uppercase;margin-bottom: 15px;}
.ahy-imrt-contact select{width: 100%;padding: 6px 3px;border: 1px solid #D5D5D5;}
body.page-id-45 .ninja-forms-cont{padding: 0 30px;}
body.page-id-45 h2 {margin-top: 0;line-height: 22px;margin-bottom: 30px;text-align: center;}
body.page-id-45 h2 span.are-you {color: #373737;font-size: 0.7em;font-weight: 600;letter-spacing: 1px;text-transform: uppercase;}
body.page-id-45 h2 span.lets-go {color: #777;font-size: 0.7em;font-weight: 600;letter-spacing: 1px;text-transform: uppercase;}
div.wpcf7-validation-errors{border:0px !important;font-weight: 500;color: red !important;margin: 0 !important;}
/*Inherits contact page css for the rest of the changes.*/
/*Submit page Ends*/


/*Widget starts*/
.ahy-widget ul{padding: 0;}
/*Widget ends*/

/*search page & Tag Page*/
body.blog .no-padd{margin-bottom: 2.5%;}
body.blog {margin-top: 6%;}
/*body.blog div#content {margin-top: 135px;}*/
/*body.tag div#content {margin-top: 135px;}*/
body.tag {margin-top: 6%;}
body.tag .no-padd{margin-bottom: 2.5%;}

/*search page ends  & Tag Page*/

/*Prashant's Changes ends*/

/*Nikhila's Changes*/

body{background-color: #ffffff !important;overflow-x:hidden;font-family: 'Lato', sans-serif;}

/*.modal-body iframe{width: 750px !important;height: 400px !important;}*/

.modal-body form.comment-form{color:#000 !important;}
.modal-content {
   box-shadow: none ;
   -o-box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   background-color: rgba(0,0,0,0.8);
  overflow:hidden;
  border: 0px solid;
  border-top: 1px solid;
  border-radius: 0px solid ;
}

.modal-title{font-family: "Futura";text-align: left;font-size: 1.5em;letter-spacing: 2px;text-transform: uppercase;padding: 0 !important;font-weight: 100;}
.modal-header button.close{color: #fff !important;transition: opacity 1s cubic-bezier(.23, 1, .32, 1) !important; font-size:35px !important;} 
.close:hover{opacity: 1 !important;}
.modal-body{color: #fff !important;padding: 0;overflow-x:hidden;display:flex;margin-bottom: 2px;}
.modal-backdrop{background-color: #2c2c2c !important;} 
.modal-backdrop.in{opacity: 0.96 !important;}
.modal-header{color: #fff !important;}
.modal-contents{padding-bottom: 2%;}

.modal-body .modal.fade .modal-lg{width: 100% !important;margin:30px 0 !important;}

span.close.ahy-close {position: relative;opacity: 1 !important;text-align:center;line-height:20px;top:10px;right:-8px;width:20px;height:20px;z-index:1;background:#fff;color: #000;font-size:15px;font-weight: 100;font-family: "Futura Medium BT V2";text-transform: uppercase;border-radius: 50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;}
.modal-body .comment-wrap {/*margin: 0 auto;width: 800px;*/position:relative;padding: 0 10px;transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out;margin-top: 1%;}
.ahy-modal .comment-wrap h3{display: inline-block;text-transform: uppercase;padding-right: 10px;margin: 0px;font-size: 16px;}
.ahy-modal .post-details-wrap .post-cat ul {display: inline-block;padding-left: 0px;margin:8px 0;}
.ahy-modal .post-details-wrap .post-date{font-family: "Futura Medium BT V2";text-transform: uppercase;line-height: 1px;} 
.ahy-modal .post-details-wrap .post-cat h3{font-family: "Futura Medium BT V2";color: #704140;font-size: 25px;display:none;text-transform: uppercase;margin: 0;} 
.ahy-modal .post-details-wrap .post-cat ul li{text-transform: uppercase;list-style: none;display: inline-block;margin: 7px 0;}
.ahy-modal .post-details-wrap .post-cat ul li a{font-size: 0.8em;color: #fff !important;padding: 5px 4px;font-family: "Futura Medium BT V2";font-weight: 500 !important;}
.ahy-modal .comment-wrap .post-details-wrap a{font-size:0.7em;text-transform: uppercase;color: #fff !important;font-family: "Futura Medium BT V2";background-color: #ED008C;padding: 4px;}

/*.ahy-modal .modal-body .comment-wrap div.aligncenter{margin: 5px 200px !important;}*/
/*comments*/

/*.comment-count{position: relative;text-align: center;}*/
.ahy-total-comment {display: inline-block;font-weight: bold;color: #000 !important;text-align: center;background-color: #fff !important;width:35px;height:35px;border-radius: 50% !important;text-align: center;font-family: "Futura Medium BT V2";font-size:0.8em !important;line-height: 35px !important;margin-left: 15px;padding: 0 !important;margin: 0;margin-left: 10px;}
 .social-sharing{display: inline-block;margin-right:8px;}
 .social-sharing a{display: inline-block;width: 32px;height: 32px;}
 .post-footer{padding: 0 ;}
.post-social {padding: 0 ;transition: all 1s ease-in-out;-webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out;-o-transition: all 1s ease-in-out;float: right !important; text-align: right;z-index:0;}
.post-social a.modal_social_icon {display: inline-block;width: 30px;height: 28px;line-height: 28px;color: #FFFFFF;text-align: right;}
.post-social a.last-icon{padding-left: 20px;}
.post-social a.modal_social_icon i{font-weight: 300;}
.comment-count{position: absolute;text-align: right;display: inline-block;transform:translateX(0);opacity: 1;right: 37%;font-family: "Futura Medium BT V2";}
span.ahy-total-comment.ahy-total-comment-notify {display: inline-block;min-width: 10px;padding: 0px 6px;font-size: 38px;font-weight: 100;color: #000 !important;background-color: transparent !important;position: absolute;right: 100%;}
.comment-count a.btn.btn-primary.ahy-btn {padding: 3px 5px !important;border-radius: 5px;background: red;border-color: red;color: #fff !important;text-transform: uppercase;font-size: 22px;margin: 0px !important;display: inline-block}

.ahy-modal .comment-count span.ahy-total-comment{color: #fff !important;}

/*header starts*/
#logo img{margin-top: 8px;}
header{transition: all 0.4s ease-in-out;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;}
.custom-head {opacity: 0 !important;background: #000;color: #fff;border-bottom: 5px solid red;display: none !important;}
header.showHead{position: fixed;opacity: 1 !important;top: 0;left: 0;z-index:111;width: 100%;display: block !important;}
.site-branding {padding-top: 12px !important;padding-bottom: 5px !important;background-color: #000;}
.upload-plyr {margin-top: 15px;margin-left: 0px;}
.upload-plyr a{color: #fff !important;padding: 0px 5px;}
ul#menu-primary-menu {padding-top: 5px;text-align: center;}
ul#menu-primary-menu li.current-menu-item a {color: red;}
.content-header{display: none;}
.navbar-default{background-color: #fff;border-color: #fff;color: #000;}
#site-branding #logo a{margin:0;height:70px;line-height:70px;}
#site-branding #logo img{margin: 10px 0;vertical-align: top;height: 50px;width: auto;max-height: 60px;}

.ahy-btn{padding: 0px !important}
.ahy-submit{text-transform: uppercase;font-size: 18px !important;color: #fff !important;margin:17px 0px 0px;display: inline-block;}

span.social-icon {display: inline-block;width: 40px;height: 40px;text-align: center;font-size:inherit;color: #fff;}
.ahy-btn {padding: 0px;text-align: center;margin-left: 25px;margin-top: 5px;}
.ahy-btn span{font-style: italic;}
.social-icon i{padding: 10px 0px;font-size: 25px;}
.social-icon i.fa-facebook , .social-icon i.fa-twitter{color: #8BADDC;}
.social-icon i.fa-youtube , .social-icon i.fa-google-plus, .social-icon i.fa-instagram{color: #F392F6;}

.navbar-collapse.collapse{background-color: #000;margin: 0px !important;}
.navbar-nav{padding-top: 0;text-align: center;float: none !important; }
.navbar-nav >li{margin-left: 15px;display: inline-block !important; float: none !important;}
.navbar-nav >li >a {color: #000;font-size:1em;text-transform: uppercase;font-weight:500;font-size: 1em;}
.ahy-icons{margin-top: 0px;}
.ahy-icons ul{display: inline-block;padding: 0px;float:left;height: 70px;line-height: 70px;}
.ahy-icons ul li{display: inline-block;list-style: none;height:70px;line-height:70px;}
.srch{text-align: center;color: #000;padding: 0px;cursor: pointer;font-size: 1.2em;margin-left: 70px;display: inline-block;}
.srch h6{display: inline-block;font-size: 18px;text-transform: uppercase;padding-right: 10px;font-family: inherit;}
.ahy-icons{text-align: center;padding: 0px !important;height: 70px;line-height: 70px;}
.ahy-icons a{display: inline-block;margin: 20px 0;width: 30px;height: 30px;}
.ahy-icons a span{font-size:28px;line-height: 28px;}
span.imrt_yt{color: #D72117;}
span.imrt_tw{color: #4FAAF0;}
span.imrt_fb{color: #3A579B;}

span.imrt_insta{  border-radius:5px;color:#fff; background: red; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left top,#8337AF,#FCAC3D, #D84A85, #B155BE);
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(bottom right,#8337AF, #FCAC3D, #D84A85, #B155BE);
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(bottom right,#8337AF, #FCAC3D,#D84A85, #B155BE);
  /* Standard syntax */
  background: linear-gradient(to bottom right,#8337AF, #FCAC3D, #D84A85, #B155BE); }


/*span.imrt_insta{ border-radius:5px;color:#fff;background: red; 
    background: -webkit-linear-gradient(left, #8337AF , #D84A85); 
    background: -o-linear-gradient(right, #B155BE, #F7741F); 
    background: -moz-linear-gradient(right,  #B155BE, #F7741F); 
    background: linear-gradient(to right,  #B155BE, #F7741F);}*/
.navbar-default .navbar-nav>.active>a{background: transparent !important;color: #FC3947 !important;font-family: 'Lato', sans-serif;}
.upload-plyr input{width: 100%;}
span.upload{width: 0;height: 0;border: 0 solid transparent;border-bottom-width: 16px;border-top-width: 17px;border-left: 10px solid black;}

.mob-list{position: fixed;width: 100%;height: 100%;top: 0px;left: 100%;background-color: rgba(11,11,11,0.96);color: #fff;z-index:114;}
.mob-list span.closeList{margin: 20px;font-size: 1em;}
.mob-list h5 a{color: #fff !important;}
.mob-list span.seach-i{color: #fff !important;}
.mob-list .search-box .close-menu{top: 5%;}
.mob-list h5 .menu-primary-menu-container ul{margin-top: 30%;padding: 0px;}
.mob-list h5 .menu-primary-menu-container ul li{list-style: none;margin: 5% 0 !important;}
.mob-list h5 .menu-primary-menu-container ul li a{color: #fff !important;font-family: 'Lato', sans-serif;}
.mob-list h5 {font-family: 'neonoire';font-size: 1.3em;margin: 5% 0 !important;}
nav#site-navigation {height: 70px;line-height: 70px;}


/*mobile header starts*/

header.mob-header{background: #fff;color: #000;border-bottom: 2px solid #000;position: fixed;top: 0%;left: 0%;width: 100%;height: 80px;z-index: 113;font-family: 'neonoire' }
header.mob-header ul.list-wrap{padding:1% 2%;margin: 0;width: 100%;height: 100%;text-align: center;}
header.mob-header ul.list-wrap li{display: inline-block;list-style: none;}
header.mob-header ul.list-wrap li a {display: inline-block;text-align: center;}
li.mob-widget {float: left;}
li.mob-nav {float: right;}
header.mob-header ul.list-wrap li span {color: #000;display: inline-block;font-size:1.5em;line-height:2.5;}
.mob-list .srch{margin-left: 0;}
/*header.mob-header ul.list-wrap li span{color: #fff;font-size: 1.5em;}*/

.slideMobile{
animation-name:slideMobile;
transform .35s ease-out;
transition-property: transform;
animation-duration:0.8s;
animation-delay:0.2s;
animation-timing-function: linear;
animation-fill-mode: both;
animation-direction: both;
transition-delay: initial;
left: 0% !important;}

@keyframes slideMobile{
  from{
  left: 100%;
  }
  to{
  left: 0%;
  }
}

/*mobile header ends*/


/*delay for header*/
.bg-video, .bg-image{cursor: pointer;height:600px;display: none;width: 100%;background-position:top center;background-size: cover;}
.ahy-home-overlay{z-index: 100;}
.wrap-overlay {position: absolute;width: 100%;height: 100%;bottom: 0;}
/*.ahy-post-thumbnail{margin: 5%;}*/
.bg-video #tubular-container iframe{top:1% !important;}

/*header ends*/



/*Footer Starts*/
.sidebar-pagebottom{display: none;}
.footer-nav-menu {padding: 1px 0px 4px;}
footer#colophon {width: 100%;text-align: center;z-index: 1000;margin-top: 2%;}
.after-footer{max-width:100%;border-top: 4px solid #F6151B;background-color: #000000 !important;padding-top: 1px !important;padding-bottom:1px !important;font-size:13px !important;font-weight:700;}
span.credits-theme{display: none;}
.site-credits{color: #555555;}
.footer-nav-menu a{color: #555555 !important;font-size: 1.1em;font-weight:800;padding: 0 5px;}
.menu-footer-menu-container{display: inline-block;padding: 0px !important;margin: 0px !important;}
footer#colophon.site-footer ul {list-style: none;padding-left: 0;display: inline-block;margin: 0px;margin: 2px 0px;}
footer#colophon.site-footer ul li {margin: 0px !important; !important;display: inline-block;text-align: center;padding: 0px 0px;}
#site-credits {padding-bottom: 0;font-size: 1.1em;text-transform: capitalize;font-weight:800;}
#footer-navigation ul.dividers > li:nth-child(n+2):before{display: none !important;}
/*Footer Ends*/


/*About Us Starts*/
.ahy-aboutus{font-family: 'Lato', sans-serif;}
.ahy-about-image{background-image: url('../css/Images/about.png');background-size:cover;height:900px !important;
    display: inline-block;background-position:center top;background-repeat: no-repeat;text-align: center;}
.ahy-about-image:before {content: '';display: inline-block;height:60%;vertical-align: middle;margin-right: -0.25em;}
.about-text{display: inline-block;vertical-align: middle;border: 2px solid #D1D1D2; padding: 3%;text-transform: uppercase; color: #fff; }
.about-text h1{font-size: 2em;letter-spacing: 16px;margin: 0;font-weight: 200;font-family: 'Lato', sans-serif;padding: 6% 2%;}
.ahy-about-text p{font-size: 13px;line-height: 34px;letter-spacing:1.2px;font-weight: bold;color:#A8A8A8;
    margin-bottom:8%;padding: 0px 60px;}
/*About Us Ends*/


/*breadcrumbs starts*/

.page-id-51 ul#breadcrumbs, .page-id-359 ul#breadcrumbs , .page-id-45 ul#breadcrumbs{margin-top:140px;}
ul#breadcrumbs {display: inline-block;margin: 100px 0 10px;padding: 0;padding-left: 2%;}
ul#breadcrumbs li{display: inline-block;}
ul#breadcrumbs li a{display: inline-block;color: #000;}
li.item-home {padding: 0px 6px;color: #000000;font-weight: 600;text-transform: uppercase;ffont-family: 'Lato', sans-serif;}
li.separator.separator-home {padding: 0px 6px;color: #000;font-weight: 600}
li.item-cat{text-transform: uppercase;}
strong.bread-current{color: #FB4A53 ;text-transform: uppercase;font-weight: 600;font-family: 'Lato', sans-serif;}
/*breadcrumbs ends*/

/*Terms of use page Starts*/
hr.ahy-line{width: 100%;margin: 8px 0px 20px 0px;border-style:solid;}
h2.ahy-uppercase{text-transform: uppercase;font-size: 28px;font-weight: 500;color: #353535;letter-spacing: 1px;}
.terms-of-use p{font-family: 'Lato', sans-serif;font-size: 13px;line-height: 34px;letter-spacing:2px;font-weight: bold;color:#A8A8A8;margin-top: 20px;}
/*Terms of use page Ends*/

/*Privacy page starts*/
.privacy{font-family: 'Lato', sans-serif;}
.privacy p{font-size: 14px;line-height: 34px;letter-spacing:2px;font-weight: bold;color:#A8A8A8;}
/*Privacy page ends*/

/*Contact page Starts*/
.ninja-forms-required-items,.input-counter{display: none;}
body.page-id-45 .ahy-contact-image {height: 655px;}
.ahy-contact-image{background-image: url('../css/Images/contact.png');background-size:cover;height:795px;text-align: center;
    display: inline-block;background-position:center top;background-repeat: no-repeat;}
.ahy-contact-image:before {content: '';display: inline-block;height:60%;vertical-align: middle;margin-right: -0.25em;}
textarea.wpcf7-form-control{height: 150px;width: 100%;}
.ahy-contact-text h1{font-size: 55px;letter-spacing: 6px;line-height: 2.6;margin: 0;font-weight: 200;font-family: 'Lato', sans-serif;}
.ahy-contact-text{padding: 0px 50px !important;}
h2 span.are-you {color: #373737;font-size:1.2em;font-weight: 600;letter-spacing: 1.2px;}
h2 span.lets-go {color: #373737;font-size:1.2em;font-weight: 600;letter-spacing: 1.2px;}
button.ahy-submit-form{background-color: #2D2D2D;color: #fff;border-radius: 0px;padding: 10px 20px;font-weight: 700;letter-spacing: 1px;}
div.wpcf7{margin-top: 25px !important; padding: 0px 60px !important;}
input.wpcf7-form-control {width: 100%;}
em.ahy-req {color: #F93334;font-size: 10px;position: absolute;margin-top: -15px;}
input:placeholder-shown, textarea:placeholder-shown{padding: 5px;font-size: 14px;font-weight: 400;border: 1px solid #D5D5D5;}
p.ahy-imrt-contact {margin-bottom: 25px;color: #767676;font-size:16px;font-weight: 500; font-family: 'Lato', sans-serif;}

/*Contact page Ends*/ 
/*Sidebar widget*/
.ahy-widget {position: fixed;top: 50%;margin-top: -100px;right: 0;border: 1px solid #fff;width:60px;height: 240px;background: #CCCCCC;}
ul.widget-wrap{list-style: none;display: block;}
li.widget-icon {width: 100%;height: 60px;border-bottom: 2px solid #fff;text-align: center;}
ul.widget-wrap li.active{background-color: #8C8C8C;}
li.widget-icon a i{font-size: 25px;line-height: 60px;color: #DC1F23;}
/*Sidebar widget ends*/

/*Video page starts*/
.video-block {position: absolute;color: #fff;width: 100%;text-align: center;top: 7%;}
.video-block i{padding: 0px 10px; color: red;}
/*Video page ends*/




/* Add Nikhila For Search Button */
/*search overlay starts Ref:2704 */
.overlaybody{display:block;opacity:0;visibility:hidden;content: '';position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.7);z-index:115;transform: translateZ(0);-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transition: all 0.4s;-webkit-transition: all 0.4s;-moz-transition: all 0.4s;o-transition: all 0.4s;}
/*.show{opacity: 1;visibility: visible;}
.active{opacity: 1 !important;visibility: visible !important;}
.hidden{opacity: 0;visibility: hidden;}*/
.overflow{overflow-y:hidden}
.search-box{ visibility: hidden;height: 100%;padding: 20px 0;z-index:115;color: #fff;width: 100%;top: 0;left: 0;position: fixed;opacity: 0;transition: all 0.6s;-webkit-transition: all 0.6s;-moz-transition: all 0.6s;-o-transition: all 0.6s;
}
.search-box i{color: #000;}
form.search-form{border:1px solid red;}
.search-box .close-menu{display: block;color: #FFF;font-size: 35px;line-height: 25px;position: absolute;top:18%;right: 8%;z-index: 110;}

.search-panel{visibility: hidden;opacity: 0;background: rgba(255, 255, 255, 0) none repeat scroll 0 0;border: solid 1px #fff;width: 60%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);z-index:115;}

.search-panel .search-field{width: 100%;border:1px solid #fff;/* color: #a2a2a2; */color: #000;font-size: 22px;height: 60px;padding: 7px 65px 10px 15px;overflow: hidden;-webkit-appearance: none;outline: none;
}

.search-panel .search-btn-apart {border-left: 1px solid #FA151A;/* border-top: 1px solid #fff; */background-color: #FA151A;position: absolute;right: 0px;top: 0px;z-index: 99999; height:100%;}
.search-panel .search-btn-apart:before {color: #fff;font-size: 30px;left: 50%;top: 50%;position: absolute;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);}

.search-panel .search-btn{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: none;height: 60px;cursor: pointer;color: transparent;position: relative;z-index: 99;padding: 0 5px;width:60px;}
#search_result_auto {position: absolute;top: 70px;left: 0;right: 0;width: 100%;text-align: left;clear: both;height: 250px;overflow-y: auto;overflow-x: hidden;}

input[type="search"]{-webkit-appearance: textfield !important;border: 1px solid #DDDDDD;}

.blur{
    filter:  grayscale(0)  blur(30px);
    -webkit-filter:  grayscale(0)  blur(30px);
    -moz-filter:  grayscale(0)  blur(30px);
    -o-filter:  grayscale(0)  blur(30px);
    -ms-filter:  grayscale(0)  blur(30px);
     /*backdrop-filter: blur(5px)*/
}
/*search overlay ends End Ref: 2704 */



/*Calendar Event Page*/

.add-mrg{ margin-bottom: 1%;padding: 0 0.5% !important;}
body.tribe-events-style-skeleton .entry-content{width: 100% !important;}
body.tribe-events-style-skeleton .tribe-events-loop{padding: 0 !important;}
.tribe-events-calendar{border-spacing: 15px !important;border-collapse: inherit !important;border: 0px solid !important;}
.tribe-events-calendar td{border-top: 1px solid #D2D2D2 !important;}
.tribe-events-calendar thead th{border:0px solid !important;background-color: #fff !important;font-size: 20px;font-weight: 200;letter-spacing: 0px;color: #646464 !important;}
.tribe-events-month{margin: 0px auto !important;font-family: 'Lato', sans-serif;overflow: auto;}
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td div[id*=tribe-events-daynum-]{background-color: red !important;color: #fff !important;position: absolute;display: inline-block;z-index: 9;top: 5%;right: 0%;width: 30px;height: 30px;opacity: 0.5;font-size: 17px;}
#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth{background-color: #DAD8D9 !important;}


/*.tribe-events-list .tribe-events-event-image, .tribe-events-list .tribe-events-event-image {
    width:100% !important;height: 400px !important;}*/
.tribe-events-list{margin: 0px 100px 50px !important;overflow: hidden;}

/*h2.tribe-events-page-title{text-align: left !important;margin-left: 2.5%;font-weight: 500;}*/
h1.tribe-events-page-title{font-size: 1.8em;font-weight: 400;color: #000;text-transform: uppercase;text-align: left !important;margin-left: 6px;font-weight: 500;}
h3.tribe-events-month-event-title{position: absolute;bottom: 1%;background-color: rgba(0,0,0,0.7);width: 100%;
    padding: 7px 0px !important;left: 0%;font-size: 14px;}
.tribe-events-list h5{color: #ff0000;font-weight: 700;text-transform: capitalize;font-size:20px; margin-left: 6px; text-align: left;}
h3.tribe-events-month-event-title a{color: #fff !important;}
select.tribe-bar-views-select{display: none !important;}
ul.tribe-bar-views-list{text-align: center;}
ul.tribe-bar-views-list li{display: inline-block;list-style: none;padding: 0px 10px;}
#tribe-bar-collapse-toggle{display: none;}
ul.tribe-events-sub-nav{display: none;}
a.tribe-events-ical{display: none;}
/*li.tribe-bar-views-option-list a,li.tribe-bar-views-option-month a{color: #D6D6D6;}*/
.tribe-bar-active a{color: red !important;}
.active-list{color:#D6D6D6 !important;}
.inactive-list{color:#D6D6D6 !important;}
li.tribe-bar-views-option-list a::after{content:"\f00a" !important;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size:50px;text-rendering: auto;-webkit-font-smoothing: antialiased}
li.tribe-bar-views-option-month a::after{content: "\f073" !important;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size:50px;text-rendering: auto;-webkit-font-smoothing: antialiased}
span.tribe-icon-month,span.tribe-icon-list{display: none;}
.tribe-events-list-separator-month{display: none;}
address.tribe-events-address{display: none !important;}
a.tribe-events-gmap{display: none;}
.tribe-events-list-event-description{display: none;}
/*.tribe-events-list {text-align: center;}*/
/*.tribe-events-event-image img {height: 170px !important }*/





/*modal changes 26th May*/
/*animation starts*/
.slideLeft{
animation-name:slideLeft;
transform .35s ease-out;
transition-property: transform;
animation-duration:1.5s;
animation-delay:1s;
animation-timing-function: ease-out;
animation-fill-mode: both;
animation-direction: both;
transition-delay: initial;
transform:translateX(5px);
/*width:60% !important;*/
}

@keyframes slideLeft{
  from{
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  }
  to{
  transform:translateX(5px);
  -webkit-transform:translateX(5px);
  -moz-transform:translateX(5px);
  }
}


.slideLeftComment{
animation-name:slideLeft;
transform .35s ease-out;
transition-property: transform;
transition-duration: 0.35s;
transition-timing-function: ease-out;
transition-delay: initial;
transform:translateX(-500px);
opacity: 0;
}

@keyframes slideLeftComment{
  from{
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  }
  to{
  transform:translateX(-500px);
  -webkit-transform:translateX(-500px);
  -moz-transform:translateX(-500px);
  }
}


.closeBtn{left: 122% !important;opacity: 1 !important;}
.closeBtnMob{opacity: 1 !important;left:92% !important;}

/*animation ends*/
.frame-left{margin:1% 0px 0px 0px !important;}
.ahy-modal footer.entry-meta{display: none;}
.modal {top:67px;margin-top: 2px;z-index: 112;}
.ahy-modal ul#collapseExample {display: inline-block;max-height: 300px !important;overflow-y: auto;float: right;
    width: 100%;margin-top:10px;visibility: visible;height: 400px !important;background:#fff;}
.ahy-modal div#respond {display: inline-block;margin-top: -12px;}
.ahy-modal div#respond h3#reply-title {margin: 5px;font-size: 20px;}
.ahy-modal div#respond form.comment-form p{margin:0 0 5px;}
.ahy-modal div#respond form.comment-form p textarea#comment {max-height: 80px !important;}
.ahy-modal div#respond form.comment-form input[type="text"],.ahy-modal div#respond form.comment-form input[type="email"] {width: 100% !important; height: 40px !important;color:#000 !important;}
.ahy-modal p.comment-notes, .ahy-modal p.comment-form-url , .ahy-modal p.comment-form-email{display: none;}
.ahy-modal .modal-footer {text-align: right;border: 0px solid;padding:0 0;}
.ahy-modal .modal-footer button.btn-default{background: red !important;border-color: red; color: #fff !important;display: none;}
.ahy-modal h4 ul.post-categories{display: inline-block  !important;padding: 0px 0px 0px 20px  !important;}
.ahy-modal h4 ul.post-categories li{display: inline-block; list-style: none !important;}
.ahy-modal .comment-wrap p.hide-modal{display: none !important;}
.ahy-modal .comment-content, .ahy-modal cite.fn, .ahy-modal .comment-metadata{color: #000 !important;}
.ytp-right-controls a.ytp-youtube-button{display: none !important;}
.player .controls .logo{display: none !important;}
.type-tribe_events{position: relative !important;}
.slideRight-Left{
animation-name:slideRight-Left;
animation-play-state: initial;
animation-duration:1s;
transition-duration: 1s;
animation-delay:0.2s;
animation-timing-function: ease-out;
animation-fill-mode: both;
animation-direction: both;
-webkit-animation-name:slideRight-Left;
-webkit-animation-play-state: initial;
-webkit-animation-duration:1s;
-webkit-animation-delay:0.2s;
-webkit-animation-timing-function: ease-out;
-webkit-animation-fill-mode: both;
-webkit-animation-direction: both;
-moz-animation-name:slideRight-Left;
-moz-animation-play-state: initial;
-moz-animation-duration:1s;
-moz-animation-delay:0.2s;
-moz-animation-timing-function: ease-out;
-moz-animation-fill-mode: both;
-moz-animation-direction: both;
}

@keyframes slideRight-Left{
from{transform:translateX(0px);}
to{transform:translateX(500px);}
}
@-webkit-keyframes slideRight-Left{
from{-webkit-transform:translateX(0px);}
to{-webkit-transform:translateX(500px);}
}
@-moz-keyframes slideRight-Left{
from{-moz-transform:translateX(0px);}
to{-moz-transform:translateX(500px);}
}


.slideInUp{animation-name:slideInUp;
animation-play-state: initial;
animation-duration:1s;
/*animation-delay:0.5s;*/
opacity: 1 !important;
animation-timing-function: linear;
animation-fill-mode: both;
animation-direction: both;
-webkit-animation-name:slideInUp;
-webkit-animation-play-state: initial;
-webkit-animation-duration:1s;
/*-webkit-animation-delay:0.5s;*/
-webkit-animation-timing-function: linear;
-webkit-animation-fill-mode: both;
-webkit-animation-direction: both;
-moz-animation-name:slideInUp;
-moz-animation-play-state: initial;
-moz-animation-duration:1s;
/*-moz-animation-delay:0.5s;*/
-moz-animation-timing-function: linear;
-moz-animation-fill-mode: both;
-moz-animation-direction: both;}

@keyframes slideInUp{
from{transform:translateY(460px);}
to{transform:translateY(0px);}
}
@-webkit-keyframes slideInUp{
from{-webkit-transform:translateY(460px);}
to{-webkit-transform:translateY(0px);}
}
@-moz-keyframes slideInUp{
from{-moz-transform:translateY(460px);}
to{-moz-transform:translateY(0px);}
}

.slideInDown{animation-name:slideInDown;
animation-play-state: initial;
animation-duration:1s;
animation-delay:0.5s;
opacity: 0;
animation-timing-function: linear;
animation-fill-mode: both;
animation-direction: both;
-webkit-animation-name:slideInDown;
-webkit-animation-play-state: initial;
-webkit-animation-duration:1s;
-webkit-animation-delay:0.5s;
-webkit-animation-timing-function: linear;
-webkit-animation-fill-mode: both;
-webkit-animation-direction: both;
-moz-animation-name:slideInDown;
-moz-animation-play-state: initial;
-moz-animation-duration:1s;
-moz-animation-delay:0.5s;
-moz-animation-timing-function: linear;
-moz-animation-fill-mode: both;
-moz-animation-direction: both;}

@keyframes slideInDown{
from{transform:translateY(0px);}
to{transform:translateY(460px);}
}
@-webkit-keyframes slideInDown{
from{-webkit-transform:translateY(0px);}
to{-webkit-transform:translateY(460px);}
}
@-moz-keyframes slideInDown{
from{-moz-transform:translateY(0px);}
to{-moz-transform:translateY(460px);}
}



.wrap-details {position: absolute;bottom: 0%;width: 100%;border: 1px solid beige;/*left: 4%;*/background:#fff;color: red;height: 160px;}

/*Event Page Calender View | Author | Prashant Yadav*/
  p.notifier{ position: absolute; top: 3%;color: #fff;  background: red;left: 6%;text-transform: capitalize;font-size: 13px; padding: 2px;font-weight: 500;line-height: 20px;
      border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius:5px;
      display: none;
  }
  p.ahy-date{margin-top: 5%; margin-left:7% ;max-width: 40px;text-align: center;display: inline-block;margin-bottom: 0;}
  span.ahy-day{display: inherit;font-size: 30px;font-weight: 500; color: #000;}
  span.ahy-month{padding: 6px; font-weight: 400;}

  .ahy-other-detail{display: inline-block;padding-left: 8%; min-width: 72%;}
  p.ahy-name{font-weight: 500;color:#454545; line-height: 21px;font-size: 1.5em}
  p.ahy-venue{font-weight:500;font-size:0.8em;}

  p.ahy-time{font-size:1.8em; margin-top: 6%; margin-left: 7%; font-weight: 400; color:#454545;display: inline-block;}
  p.ahy-time-period{ display: inline-block; position: relative; bottom: 20px;font-weight: 500; text-transform: uppercase; font-size:0.8em;} 

  div.banner-img{background-image: url(/imrt/wp-content/uploads/2016/04/concert_crowd-wallpaper-1366x768.jpg);height: 350px;width: 100%;background-size:cover;background-position: center;}

  .tribe-events-loop .tribe-events-event-meta,.tribe-events-list-event-title{display:none;}
  .tribe-events-start-time{text-transform: uppercase;}

  .tribe-events-tooltip{display: none !important;}
  .tribe-events-single-event-description{text-align: justify;}
   .tribe-bar-views-list{padding: 0 !important;}
   .tribe-events-calendar td{padding: 0 !important; }
   .events-archive.events-gridview #tribe-events-content table .tribe-events-last{padding: 0 !important;margin: 0 !important;}
   .tribe-events-calendar td div[id*=tribe-events-daynum-]{padding: 5px 7px !important;}
   .tribe-events-notices li{color: red;font-size: 20px;font-weight: 500;}
   
/*End*/

.captchadiv{display: inline-block;}

/*7th June | Single Event Page-Nikhila*/
.tribe-events-event-image img{width: 100% !important;height: 450px !important;}
body.single-tribe_events .banner-img{display: none;}
body.single-tribe_events .tribe-events-meta-group dd{color: #000 !important;font-weight: 400;}
body.single-tribe_events h1.tribe-events-single-event-title , body.single-tribe_events h1.details{font-size: 1.8em;font-weight: 400;color: #000;text-transform:uppercase;}
body.single-tribe_events ul#breadcrumbs{margin: 160px 0 10px;}
body.single-tribe_events .tribe-events-event-meta{margin:10px -4% 30px 0 !important;}
body.single-tribe_events abbr.tribe-events-start-date:before{content: "\f073" !important; display: inline-block;color: red;font: normal normal normal 14px/1 FontAwesome;font-size: 20px;text-rendering: auto;-webkit-font-smoothing: antialiased;}
body.single-tribe_events dd .tribe-events-start-time{margin-left: 20px;}
body.single-tribe_events dd.tribe-venue {margin-bottom: 0.5%;}
body.single-tribe_events dl dd.tribe-venue:before{content: "\f041" !important;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 20px;color: red;text-rendering: auto;-webkit-font-smoothing: antialiased;margin-right: 5px;}
/*body.events-list .bread-crumb{margin-top: 1.5% !important;}*/
body.events-gridview div#tribe-bar-views{text-align: center;}
body.events-gridview {text-align: center;}
body.events-gridview ul li.tribe-bar-views-option-month{float: right;}
body.events-gridview ul.tribe-bar-views-list{text-align: center;display: inline-block;margin-top: 2%;}
body.single-tribe_events #comments{margin-top: 50px !important;}
body.single-tribe_events .comment-count{float: left;}
body.single-tribe_events .comment-count a.ahy-btn{margin-left: 0px;}

p.form-submit{margin-top: 5px !important;}

/* body.single-tribe_events .ahy-single-comments .abc .comm-count {font-family: 'Londrina Solid', cursive;} */
body.single-tribe_events .ahy-single-comments .abc .comm-count span.ahy-total-comment.ahy-total-comment{padding: 0 !important;background: #fff;color: #000;font-size:1em !important;border-radius: 0px !important;text-align: left !important;margin-left: 0 !important; }
body.single-tribe_events .ahy-single-comments .abc .comm-count button.comments-single {display: inline-block;font-family: "Futura Medium BT V2";background-color: #ED008C !important;color: #fff !important;border-radius: 0;border-color: #ED008C !important;text-transform: uppercase;font-size: 0.8em;font-weight: 500;}
body.single-tribe_events .ahy-single-comments div.commentbox{margin-top: 10px;margin-left: 10px;}
body.single-tribe_events .ahy-single-comments div.commentbox .comments-logs{margin: 10px;}
body.single-tribe_events  .ahy-single-comments .commentbox form .comment-msg textarea{padding: 22px;font-size: 14px;font-weight: 400;border: 1px solid #D5D5D5;width: 50%;margin: 5px 0px;}
body.single-tribe_events  .ahy-single-comments .commentbox form .comment-msg span.ahy-post-comment {border: 1px solid;display: block;width: 15%;margin-bottom: 10px;padding: 2px 2px;background: #000;color: #fff;cursor: pointer;}
body.single-tribe_events  .ahy-single-comments .commentbox .wrap-input{overflow: auto;width: 60%;}
body.single-tribe_events  .ahy-single-comments .commentbox .wrap-input label{font-family: "Futura";}
body.single-tribe_events  .ahy-single-comments .commentbox form input[type='text']{color: #000 !important;padding: 6px 10px;width:80%;margin: 6px 0px;}
body.single-tribe_events  .ahy-single-comments .commentbox form input[type='checkbox']{margin: 6px 0px;padding: 10px 0px;}
body.single-tribe_events  .ahy-single-comments .commentbox .post-data span.user{text-transform: capitalize;}
body.single-tribe_events  .ahy-single-comments .commentbox .comment-logs{max-height:250px;overflow-y: scroll;width:50%;overflow-x:hidden;}

/*single post */
body.single-post .mejs-container{width: 100%;height: 500px;}
body.single-post .comment-count{display: none;}

body.single-post .comments-area{display: none;}
/*body.single-post .post-custm-details{display: none;}*/
body.single-post .social-sharing{display: none;}
body.single-post #content{margin-top: 80px;}
body.single-post #comments{margin-top: 70px !important;}
body.single-post .comment-count a.ahy-btn{margin-left: 0px;}
body.single-post .comment-count{float: left;}
body.single-post #content{margin-top: 80px;}
body.single-post .entry-content p iframe{width: 100% !important; height: 500px !important;}
body.single-post .ahy-single-comments {margin-top: 15px;}
/*body.single-post .ahy-single-comments .abc{display: inline-block;}*/
body.single-post .whp-modern-related-posts{padding: 0 !important;}
.whp-modern-related-posts .mrp-title {margin: 0 0 15px;padding: 0;font-size: 1.2em;font-weight: 500;color: #000;}
body.single-post .ahy-single-comments .abc .comm-count span.ahy-total-comment.ahy-total-comment{padding: 5px;background: #fff;color: #000;font-size: 1.1em !important;border-radius: 0px !important;margin-left: 0 !important;text-align: left;}
body.single-post article.post{text-transform: uppercase;color: #000;font-weight: 500;}
body.single-post .ahy-single-comments .abc .comm-count button.comments-single {background-color: #ED008C !important;color: #fff !important;border-radius: 0;border-color: #ED008C !important;padding: 8px 10px !important;text-transform: uppercase;font-weight: 500;font-size: 0.8em;cursor: pointer;text-align: center;max-width: 200px;font-family: "Futura Medium BT V2";}


body.single-post .ahy-single-comments div.commentbox{margin-top: 10px;margin-left: 10px;}
body.single-post .ahy-single-comments div.commentbox .comments-logs{margin: 10px;}
body.single-post  .ahy-single-comments .commentbox form .comment-msg textarea{padding: 22px;font-size: 14px;font-weight: 400;border: 1px solid #D5D5D5;width: 50%;margin: 5px 0px;}

body.single-post  .ahy-single-comments .commentbox form .wrap-input {overflow: auto;width: 50%;}
body.single-post  .ahy-single-comments .commentbox form .wrap-input label {font-family: "Futura";font-size: 20px;font-weight: 300;}
body.single-post  .ahy-single-comments .commentbox form .comment-msg span.ahy-post-comment {border: 1px solid;display: block;width: 12%;margin-bottom: 10px;padding: 2px 2px;background: #000;color: #fff;cursor: pointer;}
body.single-post  .ahy-single-comments .commentbox form input[type='text']{color: #000 !important;padding: 6px 10px;width:80%;margin: 6px 0px;}
body.single-post  .ahy-single-comments .commentbox form input[type='checkbox']{margin: 6px 0px;padding: 10px 0px;margin-right: 5px;}
body.single-post  .ahy-single-comments .commentbox .post-data span.user{text-transform: capitalize;}
body.single-post  .ahy-single-comments .commentbox .comment-logs{max-height: 250px;overflow-y:scroll;width:50%;overflow-x: hidden;}


/*Nikhila's Change | Date 10 June 2016 | Custom comment box*/
.ahy-modal footer.entry-meta{display: none;}
.ahy-modal .abc {transition:all 0.8s ease-in-out;-webkit-transition:all 0.8s ease-in-out;-o-transition:all 0.8s ease-in-out;-moz-transition:all 0.8s ease-in-out;}
.comments-ahy{padding: 16px 16px !important;transition:all 0.8s ease-in-out;-webkit-transition:all 0.8s ease-in-out;-o-transition:all 0.8s ease-in-out;-moz-transition:all 0.8s ease-in-out;}
.slide-comment-box{transform:translateX(150%);}
.slideout-comment-box{transform:translateX(0%);background-color: #fff;}
.model-contents{transition:all 0.8s ease-in-out;-webkit-transition:all 0.8s ease-in-out;-o-transition:all 0.8s ease-in-out;-moz-transition:all 0.8s ease-in-out;}
span.close-comments{position: fixed;color: #000;right:3px;top: 3px;background-color:#CFCFCF;border-radius: 50%;height: 30px;width: 30px;text-align: center;font-family: "Futura Medium BT V2";cursor: pointer;z-index: 10;line-height: 30px;font-size: 14px;top: 70px\9;right: 17px\9;}


.ahy-modal .abc div.commentbox #comment-main{position: relative; width:100%;padding: 0 20px;margin-top: 15px;}
.ahy-modal .abc div.commentbox .comment-logs{max-height: 250px;border: 0px solid #EBEBEB;height: 350px;overflow-y: auto; background-color: #EBEBEB;color: #000;}
.ahy-modal .abc div.commentbox .comment-logs .post-data{padding: 0px 10px 0;overflow: hidden;}
.ahy-modal .abc div.commentbox .comment-logs .post-data span.user{margin-left: 9px;font-weight:500;text-transform:uppercase;font-family: "Futura Medium BT V2";font-size: 13px;}
.ahy-modal .abc div.commentbox #comment-main form .imrt-comment-btn {margin:0 0 5px;overflow: auto;padding: 0;}
.ahy-modal .abc div.commentbox #comment-main form .comment-msg{display: inline-block;background:transparent;width: 100%;}
.ahy-modal .abc div.commentbox #comment-main form .comment-msg textarea{padding: 2px 8px;width: 100%;word-wrap: break-word;color: #000;background:transparent;border:1px solid #7C7C7C;border-radius: 4px;font-family: "Futura Medium BT V2";font-size: 0.9em;font-weight: 500;}
.ahy-modal .abc div.commentbox #comment-main form span.ahy-post-comment {float: right;font-size: 25px;color: red;margin-right: 15px;cursor: pointer;text-align: center;padding: 3px 0px !important;background: transparent !important;}
.ahy-modal .abc .comm-count {font-family: "Futura Medium BT V2";text-align: center;color: #000;background-color: #EBEBEB;}
.post-details-wrap{text-align: left;margin:auto;padding: 0 !important;}
.post-details-wrap a{text-transform: uppercase;padding: 0 2px;font-size: 0.8em;font-weight: 400;color: #fff;font-family: "Futura Medium BT V2";}
.post-tags a{color:#707070 }
/*.post-details-wrap a::before{content: '';}*/
/*.post-details-wrap a::before{content: "\f292";display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;}*/

.post-date h3 {margin:0;display: inline-block;font-family: "Futura Medium BT V2";font-size:0.8em;text-transform: uppercase;font-weight: 400;}
.post-date span {padding: 0 2px;font-family: "Futura Medium BT V2";font-size: 1em;}
h3.post-tags {display:none;font-size: 1em;margin: 0;text-transform: uppercase;font-family: "Futura Medium BT V2";}
.ahy-modal .abc .comm-count span.ahy-total-comment.ahy-total-comment {background:#EBEBEB !important;color: #000;padding: 0;margin: 0;border-radius: 0;font-size:14px;font-weight: 600;font-family: "Futura Medium BT V2";}

.ahy-modal .abc .comm-count button.comments-model{background: transparent;border-color: transparent;border-radius: 0px;text-transform: uppercase;color: #000;font-size:14px;padding: 0px;font-weight: 600;}
.commentbox input{color:#000;}
button.IMRT-comments-btn{padding: 3px 8px;margin: 5px 0;display: inline-block;font-family: "Futura Medium BT V2";color: #fff;border-radius:3px;text-transform: uppercase;font-size:0.8em;font-weight: 500;}
.ahy-comment-error{display:inline-block;color:red; font-weight: 400; text-transform: capitalize;}
p.speech {padding: 6px 15px !important;margin: 0 !important;color: #000;position: relative;width:auto !important;line-height: 20px !important;height: auto;text-align: center;
    border: 3px solid #d7d2ce;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 7px;-webkit-box-shadow: 2px 6px 13px #b8b8b8;-moz-box-shadow: 2px 6px 13px #b8b8b8;box-shadow: 2px 2px 13px #b8b8b8;word-wrap:break-word;padding: 10px 0px;font-family: "Futura Medium BT V2";}

.comments-ahy .comment-avatar{padding: 7px;margin: 14px 0;}

.comment-text{padding: 0 8px !important;}
hr{width: 100%;margin: 0;margin-bottom:1%;height:0px;border: 1px solid #333;display: none;}
#respond{display: none !important;}
.commentbox  form input[type='text']{/*width:68%;*/border: 1px solid #7C7C7C;border-radius: 4px;padding: 5px 8px;float: left;font-size:0.9em;font-weight: 500;}
.ahy-post-comment {background-color: #ED008C;color: #fff;border-radius: 0;border-color: #ED008C ;padding: 8px 12px;text-transform: uppercase;font-weight: 500;font-size: 0.7em;cursor: pointer;text-align: center;/*max-width:160px;*/font-family: "Futura Medium BT V2";/*width: 100%;*/}

/*.ahy-modal .imrt-comment-btn .ahy-post-comment {background-color: #ED008C !important;color: #fff !important;border-radius: 0;border-color: #ED008C !important;padding: 7px 12px;text-transform: uppercase;font-weight: 500;font-size: 0.8em;cursor: pointer;text-align: center;float: right;font-family: "Futura Medium BT V2";*//*max-width:100px;width: 100%}*/
.ahy-modal .imrt-comment-btn .ahy-post-comment {float: right;}
.IMRT-avatar { font-family: "Futura";color: #000;font-size: 14px;margin: 0 0 8px;text-transform: uppercase;display: block !important;}
.cookie-remember {display: inline-block;margin: 6px 0;}
.cookie-remember span.remember-me {font-size:1.2em;font-weight: 300;}
.IMRT-avatar label{/* font-family: 'Londrina Solid',  cursive;*/font-weight: 100;font-size: 1.3em;padding: 0;}
.active-avatar{padding: 0;margin-bottom: 5px; }
.comment-avatar-holder{padding: 0;font-family: "Futura";font-weight: 300;font-size:1.2em;}
a.open-avatars{padding: 4px 0px;margin: 0;background:#ED008C;border-radius: 0;display: inline-block;font-size: 1em;color: #fff !important;}
input.ahy-cookie {margin-right: 8px;border-radius: 0px;width: 20px;height: 20px;float: left;margin-top: 0}
button.ahy-post-avatar {float: right;padding: 5px 4px;background-color:#ED008C;border-radius: 0;}
.commentbox  form input[type='text']:disabled{background-color:gray;}
input[type="checkbox"] {-webkit-border-radius:0px;border-radius:0px;-moz-border-radius:0px;}
.commentbox  form input[type='checkbox']:disabled{pointer-events: none !important;opacity: .6 !important;background: #e6e6e6 !important;}
.blur12 {position: absolute;height: 100%;width: 360px;background: rgba(0,0,0,0.6);text-align: center;color: #fff;opacity: 0;-webkit-transition:all 0.45s ease-in-out;-moz-transition:all 0.45s ease-in-out;-o-transition:all 0.45s ease-in-out; -ms-transition:all 0.45s ease-in-out;transition:all 0.45s ease-in-out;cursor: pointer;}

.blurWrap {margin: 40% 0%;height: 100%;width: 100%;}
.comment-wrap-overlay{position: absolute;width:100%;height:100%;margin: 0% auto;background:#000;top: 0;right: 0;bottom: 0;left: 0;}
.iframe-holder{position: relative;}
.player-error{display: none;}
.body.single-post .comment-wrap-overlay{height: 57%;}
.player-error, .overlay-play{font-size: 150px;position: absolute;left: 50%;top: 50%;transform:translate(-50%, -50%);z-index: 100;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);color: #fff;}

#feature-modal .modal-body{margin: 0 20% !important;}

/*Custom Video Player Css | Author : Prashant Yadav | Dated: 18th June 2016; */

.cstm-vd-player {position: relative;background: #efefef;width: 100%;display: inline-block;padding: 2px 0px;transition: all 0.5s linear;-webkit-transition: all 0.5s linear;bottom: 6px;}
.slider {width: 50%;border: 1px solid #fff;height: 10px;cursor: pointer;border-radius: 10px;display: inline-block;margin: 0px 3px;background: #353535;position: relative;}
.vd-progress {position: relative;width: 0%;height: 100%;background: red;top: -8px;border-radius: 10px;}
.loaded {width: 0%;background: #000;height: 100%;border-radius: 10px;}
.volume-bar{width  : 80px;height : 6px;border : 1px solid white;margin-bottom:1.6%;cursor: pointer;border-radius: 10px;display: inline-block;background: #000;}
.volume-seeker{width: 0;background: red;height: 100%;border-radius: 10px;}
.volume-controller {display: inline-block;margin-left: 5%;}
.volume-controller span i{color: #3e3e3e;width: 18px;}
.cstm-vd-controls{display: inline-block;}
span.volume-controll{cursor:pointer;}
.fullscreen {display: inline-block;margin: 0px 10px;}
.fullscreen button{margin: 0px 5px;background: transparent;color: #353535 !important;}
.fullscreen button:hover{color: #353535 !important;}
.cstm-vd-controls button{background: transparent;color: #353535 !important;padding: 2px 10px;}
.cstm-vd-controls button:hover{color: #353535 !important;}
.cstm-vd-controls {margin: 0px 3px;display: inline-block;float: left;}
.videos{width: 100%;height: 100%;}
/*Ends*/

/*pagination starts*/
.modal-body p iframe{width: 100% !important;}
.imrt-pagination {padding: 8px; margin: 10px auto;text-align: center;}
.imrt-pagination .wp-pagenavi {padding: 2px;display: inline-block;}
span.pages {background: red;border-color: red;color: #fff !important;display: none;}
.wp-pagenavi span.current {font-weight: bold;width: 40px;display: inline-block;height: 40px;border-radius: 50%;padding: 0;line-height: 36px;color: red !important;border: 2px solid red;border-color: red !important;}
.wp-pagenavi a{text-decoration: none !important;border: 1px solid #000;padding: 3px 5px;margin: 2px;background: #000;}
a.page.larger {display: inline-block;width: 40px;height: 40px;padding: 0;border-radius: 50%;line-height: 36px;background: #fff;color: #999 !important;border: 1px solid #999;}
a.page.smaller {display: inline-block;width: 40px;height: 40px;border-radius: 50%;padding: 0;line-height: 36px;background: #fff !important;color: #ccc !important;}
.wp-pagenavi a:hover{border-color: #999 !important;}
.wp-pagenavi a, .wp-pagenavi span{margin: 5px !important;}
a.nextpostslink {background: transparent !important;border-color: transparent !important;color: #999 !important;text-decoration:underline !important;}
a.previouspostslink {background: transparent !important;border-color: transparent !important;color: #999 !important;text-decoration:underline !important;}
/*pagination ends*/
header.mob-header ul.list-wrap li.logo a{display: inline-block !important;}
/*top header css*/
.top-list{height: 65px;line-height: 65px;}
.top-list ul#menu-primary-menu-1{text-align: center;padding: 0;height: 65px;line-height: 65px;margin: 0;}
.top-search.search-icon {position: absolute;display: inline-block;top: 0;right: 7%;}
.top-list ul li.menu-item {display: inline-block;list-style: none;padding:0;line-height: 60px;margin-left: 10px;height: 60px;}
.top-list ul li.menu-item a{font-size: 1.3em;text-transform: uppercase;font-weight: 500;font-family: 'Lato', sans-serif;display: inline-block;color: #000;height: 60px;line-height: 45px;padding: 10px 12px;}
.top-list ul li.current-menu-item a{color: red !important;}
.top-list span.seach-i {font-size: 1.3em;line-height: 2;cursor: pointer;}
.top-log{height: 70px;line-height: 70px;}
.top-log a{display: inline-block;margin-top: 5px;height: 70px;line-height: 70px;} 
.top-log a img{height: 62px;vertical-align: baseline;}
header#top-header {position: fixed;max-height: 150px;width: 100%;z-index:111;top: 0;background-color: #fff !important;height: 135px;}
.time{display: inline-block;padding-left: 2%;color: #000;}
/*.ahy-modal .abc .comm-count {display: inline-block;position: absolute;right: 1%;font-family: 'Londrina Solid', cursive;}*/
.IMRT-sticky-header{text-align: center;margin: 0 auto;}

/*Css for IE starts*/
_:-ms-lang(x), span.close-comments {top: 70px;right: 17px; }
_:-ms-lang(x), .ahy-modal .abc div.commentbox #comment-main form .comment-msg {margin-bottom:8px;}
/*Css for IE ends*/

/*Css For Firefox starts */
@-moz-document url-prefix() { 
  .ahy-modal .abc div.commentbox #comment-main form .comment-msg {margin-bottom:8px;}
}
/*Css For Firefox ends */


/*Media Queries*/
 
  @media screen and (max-width:775px) and (min-width: 767px){
    /*.ahy-contact-image{height: 900px !important;background-size:100% 100%; }*/
     div.wpcf7{padding: 0px 10px !important;}
  }

  /*Media Queries for Event Grid view | Author | Prashant Yadav*/
@media screen and (max-width: 767px){
  .tribe-events-list{margin: 0px !important;}
  h2.tribe-events-page-title{text-align: center !important;}
  .tribe-events-list h5.text-left{text-align: center !important;}
  p.ahy-time{font-size:24px;margin-top: 3%;}
  .ahy-other-detail{min-width: 75%;}
  .tribe-events-single-event-description{margin: 0 2%;padding:0%;} 
  .tribe-events-single-event-title{padding-left: 20px;}
  .tribe-events-event-meta{padding-left: 20px; }
  div.wpcf7{padding: 0px 10px !important;}
  .bg-video #tubular-shield{background-repeat: no-repeat;background-size: cover;background-position: top center;}
  body.events-gridview{display: none !important;}
  body.events-list  ul.tribe-bar-views-list{display: none !important;}
  body.single-tribe_events .ahy-single-comments div.commentbox{margin-left: 0%;}
 
}
/*Ends*/


@media screen and (max-width:392px){
  .ahy-home-overlay p{font-size: 25px !important;line-height: 24px;}
  h3.leave-comment{font-size: 24px;}
}

@media screen and (max-width:991px) and (min-width: 768px){
  .ahy-modal .imrt-comment-btn .ahy-post-comment{float: left !important;margin-top: 5px;}
  .ahy-modal .abc div.commentbox #comment-main{padding: 0 10px !important;}
 
}

@media screen and (max-width:865px) and (min-width: 768px){
   body.page-id-45 h2{margin-bottom: 0;}
}

@media screen and (min-width: 300px) and (max-width:567px){
  body.page-id-45 h2 span.are-you , body.page-id-45 h2 span.lets-go{font-size: 0.6em;}
  /* .no-padd{padding: 0px !important;height: 360px !important;} */
}

@media screen and (min-width:568px) and (max-width:767px){
  /* .no-padd {height: 595px !important;} */
  .mob-list h5 .menu-primary-menu-container ul{margin-top: 2%;}
  .add-mrg {margin-bottom: 3%;}
  body.single-tribe_events  .ahy-single-comments .commentbox form .comment-msg span.ahy-post-comment{width:20%;}
}

@media screen and (max-width:568px) and (min-width:300px){
  body.single-post  .ahy-single-comments .commentbox .comment-logs{width: 100%;}
  body.single-tribe_events .ahy-single-comments .commentbox .comment-logs{width:95%;}
  body.blog {margin-top: 25% !important;}
  body.tag {margin-top: 25% !important;}
  .add-mrg {margin-bottom: 5%}
  body.single-post  .ahy-single-comments .commentbox form .comment-msg span.ahy-post-comment{width:38%;}

}
@media screen and (max-width:999px) and (min-width:568px){
  body.single-post  .ahy-single-comments .commentbox .comment-logs{width: 80%;}
  body.single-post  .ahy-single-comments .commentbox form .comment-msg span.ahy-post-comment{width:24%;}
  body.single-tribe_events{margin-top: 8%;}
  body.blog {margin-top: 12%;}
  body.tag {margin-top: 12%;}
  body.single-tribe_events  .ahy-single-comments .commentbox form .comment-msg span.ahy-post-comment{width:22%;}

}

@media screen and (max-width:799px) and (min-width:766px){
  .ahy-modal .abc div.commentbox #comment-main form span.ahy-post-comment{margin-right: 0px;padding: 3px 5px;}
  div#search_icon{position: absolute;top: 15%;right: 0%;}
  
}
/* @media screen and (max-width:1199px) and (min-width:993px){
  .no-padd {height: 310px !important;}
  .wrap-overlay{width: 94%;}
} */


@media screen and (max-width:999px) and (min-width:768px){
  #tribe-events-content{margin: 0px 0px 0px !important;}
  nav#site-navigation{padding: 0px;}
  .navbar-nav >li >a{padding: 10px 0px !important; font-size:1em;}
  .srch h6{font-size: 14px;}
  .ahy-btn{margin: 3px 0px !important;}
  .ahy-btn .ahy-submit{font-size: 14px !important;}
  .ahy-icons a{width:25px;height:25px;}
  .srch{margin-left: 0px;float: right;margin-right: 25px;line-height: 60px;height: 70px;}
  .ahy-icons {text-align: left;}
  .ahy-icons ul{margin-bottom: 1px !important;float: none !important;}
  span.social-icon{width: 30px !important;}
  h3.tribe-events-month-event-title{bottom: -37%; font-size: 12px;}
  header#masthead{height: 70px !important;}
  .blur12, .ahy-overlay{width: 100%;}
  body.blog .blur12{width: 100%;}
  .ahy-about-image {background-size: cover;height: 1000px !important;}
  .ahy-about-text p{margin-bottom: 4%;padding: 0px 14px;}
  .bg-video #tubular-container iframe{left: 0px !important;}
  .top-search.search-icon{right: 6%;}
  .bg-video #tubular-container iframe{top: 12% !important;}
  .bg-video{height: 500px;}
  .volume-bar {width: 80px;}
  .slider {width: 38%;margin-top: 12px;}
  .cstm-vd-player{width:100%;}
  .ahy-contact-image {background-size: cover;}
  /* .ahy-home-overlay{height: 107px;top: -67px;}  */
  .ninja-forms-cont {padding: 0 30px !important;}
  .ahy-contact-text {padding: 0px 10px !important;}
  
  body.page-id-45 h2 span.are-you , body.page-id-45 h2 span.lets-go{font-size: 0.5em}

}

@media screen and (max-width:1024px) and (min-width:1000px) {
  body.page-id-45 h2{margin-bottom: 1px;}
}

@media screen and (max-width:1041px) and (min-width:1000px){
  .ahy-about-text p {margin-bottom: 3%;padding: 0px 12px;}
  .ahy-about-image{background-size: cover;}
  .ahy-contact-image {background-size: cover;}
  .navbar-nav >li {margin-left: 10px;}
}



@media screen and (max-width:1270px) and (min-width:1001px){
  .volume-bar {width: 100px;}
  .slider {width: 40%;}
  .navbar-nav >li {margin-left: 10px;}
}

@media screen and (max-width:1349px) and (min-width:1271px){
  .volume-bar {width: 100px;}
  .slider {width: 40%;}

}


@media screen and (max-width:1287px) and (min-width:999px){
  .navbar-nav>li{padding: 0px;margin-top:5px;margin-left: 0 !important;}
  .navbar-nav>li>a{padding:0px 14px !important;font-size: 1em}
  .ahy-btn{margin: 3px !important;}
  .ahy-submit {font-size: 14px !important;margin: 16px 0px 0px;}
  .srch h6{margin: 0px 4px 0px 0px !important;font-size: 13px;}
}


@media screen and (max-width:1200px) and (min-width:1000px){
  .bg-video #tubular-container iframe {top: 10% !important;left: 0% !important;}
  /* .ahy-home-overlay p{font-size: 30px;} */
  body.page-id-45 h2 span.are-you ,body.page-id-45 h2 span.lets-go{font-size: 0.5em;}
}


@media screen and (min-width:768px){
  header.mob-header{display: none !important;}
  .mob-list{display: none !important;}
  .modal-lg {width: 100% !important;height: 100%;position: fixed;overflow: scroll;padding-bottom: 40px;}
  .modal-dialog{margin: 0;}
 
}

@media screen and (max-width: 767px){
  .ahy-home-overlay p{font-size: 30px;}
  .ahy-modal .abc div.commentbox{background:#fff;width: 100%;top: 0;bottom: 0;left: 0;right: 0;height: 100%;z-index: 1;}
  .ahy-modal div#comments {opacity:0;display: inline-block;position: absolute;top: 5%;right: 1%;width: 92%;margin: 3%;background-color: rgba(0,0,0,0.96);transform:translateY(460px) !important;}
  a.Ahy img.thumbnail{margin-bottom: 0px !important;}
  .ahy-modal article.post{margin-bottom: 0px !important;}
  /* .no-padd{padding: 0px !important;} */
  .ahy-submit-page-text{margin-top: -100px;}
  .ahy-modal .modal-body{padding:0 !important;}
  .ahy-modal .modal-footer{padding: 10px 10px 10px;}
  .modal-backdrop.in{opacity: 0.96 !important;}
  .modal-header .modal-title{font-size: 1.6em;}
  .modal-body .comment-wrap{width: 100%;}
  .blur12, .ahy-overlay{width: 100%;}
  body.blog .blur12{width: 100%;}
  .cstm-vd-player{padding: 6px 0px;}
  .ahy-about-text p {padding: 0px 15px;}
  body.single-post  .ahy-single-comments .commentbox form .comment-msg textarea{width: 100%;}
  body.single-tribe_events  .ahy-single-comments .commentbox form .comment-msg textarea{width: 100%;}
  body.single-post .ahy-single-comments .commentbox form .wrap-input {width: 100%;}
  body.single-post .ahy-single-comments .commentbox form input[type='text'] {width: 82%;}
  body.single-tribe_events .ahy-single-comments .commentbox form .wrap-input {width: 100%;}
  body.single-tribe_events .ahy-single-comments .commentbox form input[type='text'] {width: 82%;}
  header#top-header{display: none !important;}
  body.single-tribe_events .ahy-single-comments {margin: 0px 4px;}
  .wrap-overlay{width: 100%;left: 0;}
  .ahy-post-thumbnail{margin: 0;}
  .ahy-contact-image, .ahy-about-image{display: none;}
  .bg-image{display: block;}
  .bg-video{display: none !important;}
  ul#breadcrumbs{padding-left:3%;}
  body.single-tribe_events .tribe-events-event-meta{padding:0 1.5%;}
  .search-panel{width:95%;}
  .cat-pg{padding: 0 10px !important;}
  header.mob-header{display: block;}
  header#masthead{display: none !important;}
  .showHead{opacity: 0 !important;}
  .mob-list{display: block;}
  .ahy-submit-page-text{margin-top: 1%;}
  .ahy-contact-text {padding: 0px 20px !important;}
  body.single-post .comment-avatar , body.single-tribe_events .comment-avatar{padding: 0 !important} 
  body.single-post  .captchadiv{display: inline-block !important;}
  body.single-post .ahy-single-comments div.commentbox{margin-left: 0;}
  .search-panel{width: 80%;}
  .modal{padding: 0 !important;}
  .modal-title{margin-top: 30px !important;}
  button.close.ahy-close{top: 5px;right: 15px;}
  .ahy-modal .imrt-comment-btn .ahy-post-comment{float: left !important;margin-top:8px;}
  .comments-ahy .comment-avatar{padding: 0px;}
  .ninja-forms-cont {padding: 0 10px !important;}
}

@media screen and (min-width: 300px) and (max-width:380px){
  .slider {width: 32%;}
  .volume-bar {width: 56px;margin-bottom: 4%;}
  .cstm-vd-controls{margin: 0px 1px}
  .cstm-vd-controls button{padding:2px 7px;}
  .fullscreen button{margin: 0px 1px;padding: 2px 4px;}
  .fullscreen{margin: 0px 6px;}
  body.single-post  .ahy-single-comments .commentbox form .comment-msg span.ahy-post-comment{width:50%;}
  body.single-tribe_events  .ahy-single-comments .commentbox form .comment-msg span.ahy-post-comment{width:48%;}
}



@media screen and (min-width:623px) and (max-width:767px){
  body.page-id-51 .about-text{top: 60%}
}


@media screen and (min-width: 381px) and (max-width:567px){
  .slider {width: 30%;}
  .cstm-vd-controls button{padding: 1px 12px;}
  .volume-bar {width: 100px;margin-bottom: 2.5%;}
  .fullscreen button {margin: 0px 1px;line-height: 22px;padding: 2px 6px;}
  .fullscreen {margin: 0px 6px;}
  .about-text{left: 53%;top:32%;}
  body.single-tribe_events  .ahy-single-comments .commentbox form .comment-msg span.ahy-post-comment{width:35%;}
}


@media screen and (min-width: 568px) and (max-width: 752px){
  .slider {width: 40%;}
  .volume-bar {width: 140px;}
  .fullscreen button{padding: 6px 8px;}
}


@media screen and (min-width:1200px) and (max-width:1321px){
  body.page-id-45 h2{margin-bottom: 5px;}
}


@media screen and (min-width:1000px) and (max-width:1300px){
  .ahy-overlay , .blur12{width: 90%;}
  body.blog .blur12{width: 90%;}
}

@media screen and (max-width:1345px) and (min-width: 767px){
  .modal-body{padding: 0px !important;}
  .ahy-modal .comment-wrap .post-cat h3, .ahy-modal .comment-wrap .post-cat ul li a{font-size: 21px;}
  .post-social .social-sharing a{display: inline-block;width: 30px;}
  .ahy-modal .abc .comm-count span.ahy-total-comment.ahy-total-comment{font-size: 28px;}
  .ahy-modal .abc .comm-count button.comments-model{font-size: 16px;}
} 

@media screen and (min-width: 1360px){
  /*body.single-tribe_events .ahy-single-comments{margin: 0px 10px;}*/
  body.single-tribe_events  .ahy-single-comments .commentbox form input[type='text']{margin: 14px 0px;padding: 14px 10px;}
  body.single-tribe_events  .ahy-single-comments .commentbox form .comment-msg textarea{margin: 10px 0px;} 

}

@media screen and (min-width: 1389px){
  .bg-video{height: 800px !important;}
  .volume-bar {width: 200px;}
  .slider {width: 50%;}
  .ahy-about-image{height: 1000px !important;}
  .ahy-about-text p {font-size: 1em;line-height: 42px;}
  .banner-img {max-height: 500px;height: 500px !important;}
  li.tribe-bar-views-option-list a::after , li.tribe-bar-views-option-month a::after{font-size:4em;}
  p.ahy-date {margin-top: 3%;}
}


@media screen and (min-width:1851px) and (max-width:1999px){
  .banner-img{margin-top: 8% !important;}
  .bg-video #tubular-container iframe {top: -6% !important;}
 
}

@media screen and (min-width: 2000px){
   .comment-avatar img{width: 75%;}
  .navbar-nav >li >a {font-size:1.3em}
  /* .post-social{width: 150px;} */
  .ahy-about-text p {font-size: 1.4em;line-height: 49px;}
  p.ahy-date{margin-top:2%;}
  p.ahy-time{margin-top:3%;}
  .ahy-other-detail{min-width: 80%;}
  h2 span.are-you , h2 span.lets-go{font-size: 1.5em}
  .bg-video #tubular-container iframe {top: -5% !important;}
  .event-bg-img{height: 450px !important;}
  p.cat-text {font-size: 1em;}
  /*ul#breadcrumbs{margin:4% 0% 0%;padding-left: 20%;}*/
  .banner-img {max-height: 700px;height: 600px !important;}

} 


/*Prashant Changes  | Wordpress default Video Player*/
.modal-body .wp-video,.mejs-container{
  width: 100% !important;
}
.modal-body .mejs-container{
  height: 400px !important;
}
.mejs-time{
  display: none !important;
}
.mejs-time-current,.mejs-time-loaded,.mejs-time-slider{
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
.mejs-time-current{
  background: red !important;
}

.mejs-time-loaded{
  background: black !important;
}
.mejs-time-slider{
  background: #fff !important;
}


.tooltiptext {background-color: #fff;
   color: #000;
   text-align: center;
   border-radius: 6px;
   padding: 5px 2px;
   position: absolute;
   z-index: 1;
   bottom: 170%;left: 0;}

/*.tooltiptext::after {content: "";position: absolute;top: 100%;left: 50%;margin-left: -5px;border-width: 5px;border-style: solid;border-color: black transparent transparent transparent;}*/

/*



/*Prashant Yadav | Modal Mobile changes*/
  @media screen and (max-width:767px){
      .ahy-modal .abc {text-align: center;}
      .ahy-modal .abc .comm-count{ position: relative;}
     /* .post-social{ position: relative;text-align: center;margin: 2%;}*/
      .post-details-wrap{text-align:left;display: inline-block !important;float: none !important;}
      .ahy-modal .abc .comm-count span.ahy-total-comment.ahy-total-comment{position: static;}
      .ahy-modal .abc div.commentbox{text-align: justify;}
      .ahy-modal .abc div.commentbox .comment-logs{height: 400px;max-height:650px;}
      .modal-content{overflow-y: scroll !important;}
      .comments-ahy{position: fixed !important;top:0;bottom:0;left: 0;right: 0;padding: 0; -webkit-backface-visibility: hidden; overflow-y: scroll; overflow-x: hidden;}
      .modal-content{max-height: 550px;}
      .modal-backdrop{max-height: 570px;}
      span.close-comments{right: 7px;top: 5px;}
      .overlay-play{font-size: 100px;}
  }

  @media screen and (max-width: 431px){
    .post-social, .post-details-wrap{display:block;}
    .post-social{float:none; }
    a.ahy-post-comment {float: left !important;margin-top: 15px;} 
  }

  @media screen and (max-width: 520px){
    .social-sharing{display: block;}
  }

  ul.post-categories{
    display: inline-block;
    list-style-type: none;
    padding: 0;
  }

  div.post-title{padding: 0;}
  div.post-footer-layer-1{padding: 0;border-bottom: 2px solid #333;}
  div.post-footer-layer-2{padding: 0;margin-top: 7px;}  

  .comment-div-btn{text-align: right;padding: 0;}
/* Gaurav Toke | Modal Subtitle */
.subtitle{font-family: "Futura";letter-spacing:2px;}
@media only screen and (min-width:768px) and (max-width: 992px){
.subtitle{font-size: 13px;}
}
@media screen and (max-width:767px){
.subtitle{font-size: 12px;}
span.close.ahy-close{top:9px;right:-4px;}
}
/* custom-width */
@media screen and (min-width:1200px){
.custom-width{width:80%;margin:0 auto;}
}
@media screen and (min-width:768px) and (max-width:992px){
.no-padd{height:375px !important;}
}
/*  12-08-2016 */
.post-thumbnail.ahy-post-thumbnail:before {content: '';display: block;padding-top: 100%;}
@media screen and (min-width:992px) and (max-width:1199px){
.ahy-home-overlay p {font-size:30px;}
}
@media screen and (min-width:768px) and (max-width:991px){
.ahy-home-overlay p {font-size:23px;}
}
@media screen and (min-width:320px) and (max-width:413px){
.ahy-home-overlay{bottom:35px;font-size:16px;}
}
@media screen and (min-width:414px) and (max-width:536px){
.ahy-home-overlay{bottom:40px;font-size:21px;}
}