/*Custom CSS
Ahy Consulting
Date: 20-04-2016
*/

@font-face {
  font-family: 'neonoire';
  src: url('SNNeoNoire-Regular.ttf');
}



/*@import url(https://fonts.googleapis.com/css?family=Indie+Flower);*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto);*/
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);
@import url(https://fonts.googleapis.com/css?family=Lato);
/*@import url(https://fonts.googleapis.com/css?family=Reenie+Beanie);*/



#sidebar-pagebottom{ display: none;}
/*Home Page Starts*/
/*Styling post date*/
.ahy-post-date{ text-align: center;font-family: 'Lato', sans-serif;margin: 10px 0px !important;}
.ahy-post-date span{font-size: 21px;font-weight: 700;color: #000;}
.ahy-post-date b{text-transform: uppercase;}
.ahy-post-date b{ color:red;font-family: 'Lato', sans-serif;}
/*To remove the border of post*/
.ahy-image{ padding: 0px !important; border-radius: 0px !important}/*Important given b'cause it was not overriding default bootstrap css*/
/*Overlay on image */
.no-padd{height: 360px !important;}

.ahy-overlay{font-family: 'Lato', sans-serif;position: absolute;display: inline-block;width: 92.3%;background: black;opacity: 0.6;top:100%;padding-bottom: 140px;z-index: 11;transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;border-bottom: 2px solid red;}
.add-margin{margin-bottom: 10px !important;}
.ahy-overlay p{font-size: 20px;font-weight: 400;color:#fff; text-align:left;padding: 0px 25px;margin-bottom: 0px;}
.homepage-image{max-height: 500px;}
.ahy-home-overlay{display: inline-block;height: 86px;position: relative;top: -67px;background: red;opacity: 0.67;text-align: center;}
.ahy-home-overlay p{color: #fff;font-size: 32px;line-height: 32px;font-weight: 100;margin-bottom: 0px !important;font-family: 'Londrina Solid', cursive;margin-top: 10px;}
.ahy-overlay hr{width: 60%;margin: 0 auto;border:0px;border-bottom: 2px solid red;margin-left: 25px;}
body.home #page-posts{margin-top: 98px;}
 /*Home Page Ends*/ 


 /*No post header on each category page.*/
.ahy-nopost-header{text-align: center;}
/*Breadcrumb on each page*/
.item-cat a, .separator{font-weight: bold;}
.separator{padding:0 5px;}
/*To Keep the banner size same on each category page*/
.banner-image{max-height: 200px;border-bottom: 2px solid #DC1F23;}
p.cat-text {margin: 15px 50px;font-size: 11px;font-weight: 400;letter-spacing: 1px;}

/*Single Post Page Starts*/  
/*Comment form remove label*/
.comment-form, .comment-textarea, textarea{font-family: 'Lato', sans-serif;}
.comment-form label {display:none;}
.comment-form .form-submit .submit{font-family: 'Lato', sans-serif;border-radius: 0px; background-color: red; border-color: red; font-size: 22px;margin-top: 2px;}
.comment-form input{height: 50px;}
/*-webkit-input-placeholder{ color:#F2F2F2;}
-moz-placeholder{color:#F2F2F2;}
-ms-input-placeholder{color:#F2F2F2;}*/
/*To Hide the leave a comment link on single post page*/
#ahy-post-comment-tag{display: none;}
.post-views{display: inline-block;}
.post-views span.post-views-count{display:block;text-align: center}
span.tags-links a{background-color: #ff0000;color: #fff !important;padding: 6px;}

/*Single Post Page Ends*/


/*Submit page starts*/
.ahy-submit-page-text h2{text-align: center;font-size: 25px;margin: 0px;text-transform: uppercase;}
.ahy-imrt-contact select{width: 100%;padding: 6px 3px;border: 1px solid #D5D5D5;}

/*Inherits contact page css for the rest of the changes.*/
/*Submit page Ends*/


/*Widget starts*/
.ahy-widget ul{padding: 0;}
/*Widget ends*/

/*Prashant's Changes ends*/

/*Nikhila's Changes*/
a{color: #555555 !important;}
body{background-color: #ffffff !important;overflow-x:hidden;font-family: 'Lato', sans-serif;}

/*.modal-body iframe{width: 750px !important;height: 400px !important;}*/
.modal-body p iframe{width:100%;height: 400px;}

.modal-body form.comment-form{color:#000 !important;}
.modal-content {
   box-shadow: 0 5px 15px rgba(255,255,255,0.8) !important;
   -o-box-shadow: 0 5px 15px rgba(255,255,255,0.8) !important;
   -moz-box-shadow: 0 5px 15px rgba(255,255,255,0.8) !important;
   -webkit-box-shadow: 0 5px 15px rgba(255,255,255,0.8) !important;
   background-color: rgba(0,0,0,0.8) !important;
  overflow:hidden !important; 
}
/*.modal-dialog .modal-lg{width: 85% !important;}*/
.modal-header .modal-title{font-family: 'Londrina Solid', cursive !important;padding-left: 5px;}
.modal-header button.close{color: #fff !important;} 
.modal-title{text-align: center;color: #fff;text-transform: capitalize;}
.modal-body{color: #fff !important;font-family: 'Lato', sans-serif;padding-bottom: 75px !important;}
.modal-backdrop{background-color: #2c2c2c !important;}
.modal-backdrop.in{opacity: 0.96 !important;}
.modal-header{color: #fff !important;}
.modal-body .modal.fade .modal-lg{width: 85% !important;}
/*.modal-body .comment-wrap :nth-child(n+2) {display: none;}*/

.ahy-modal .comment-wrap h3{display: inline-block;text-transform: uppercase;padding-right: 10px;margin: 0px;font-size: 16px;}
.ahy-modal .comment-wrap .post-cat ul {display: inline-block;padding-left: 0px;}
.ahy-modal .comment-wrap .post-cat{font-family: 'Londrina Solid', cursive;} 
.ahy-modal .comment-wrap .post-date{font-family: 'Lato', sans-serif;text-transform: uppercase;} 
.ahy-modal .comment-wrap .post-cat h3{font-family: 'Londrina Solid', cursive;color: #704140;font-size: 25px;} 
.ahy-modal .comment-wrap .post-cat ul li{text-transform: uppercase;list-style: none;font-size: 25px;display: inline-block;}
.ahy-modal .comment-wrap .post-cat ul li a{font-size: 25px;color: #555 !important;}
.ahy-modal .comment-wrap .post-details-wrap {position: absolute;left: 2%;}
.ahy-modal .comment-wrap .post-details-wrap a{font-size: 16px;text-transform: uppercase;color: #fff !important;}
.ahy-modal .modal-body .comment-wrap div.aligncenter{margin: 5px 200px !important;}

/*comments*/
/*.comment-count{position: relative;text-align: center;}*/
.post-social {position: absolute;left:40%;transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out}
.comment-count{position: absolute;text-align: right;display: inline-block;transform:translateX(0);opacity: 1;right: 37%;font-family: 'Londrina Solid', cursive !important;}
span.badge.badge-notify {display: inline-block;min-width: 10px;padding: 0px 6px;font-size: 38px;font-weight: 100;color: #000 !important;background-color: transparent !important;position: absolute;right: 100%;}
.comment-count a.btn.btn-primary.ahy-btn {padding: 3px 5px !important;border-radius: 5px;background: red;border-color: red;color: #fff !important;text-transform: uppercase;font-size: 22px;margin: 0px !important;display: inline-block}
span.close-comments {text-align: center;float: right;cursor: pointer;font-size: 18px;transform: translateX(34px);opacity: 0;}
/*comments ends*/
.ahy-modal .comment-count span.badge{color: #fff !important;}

/*header starts*/
#logo img{margin-top: 8px;}
header#masthead {background: #000;color: #fff;border-bottom: 5px solid red;position: fixed;top: 0%;left: 0%;width: 100%;height: 66px;z-index: 999;font-family: 'neonoire'}
.site-branding {padding-top: 12px !important;padding-bottom: 5px !important;background-color: #000;}
.upload-plyr {margin-top: 15px;margin-left: 0px;}
.upload-plyr a{color: #fff !important;padding: 0px 5px;}
ul#menu-primary-menu {padding-top: 5px;text-align: center;}
.content-header{display: none;}
.navbar-default{background-color: #000 !important;border-color: #000 !important;}
header.site-header{border: 0px solid #000;}

.ahy-btn{padding: 0px !important}
.ahy-submit{text-transform: uppercase;font-size: 18px !important;color: #fff !important;margin:17px 0px 0px;display: inline-block;}

span.social-icon {display: inline-block;width: 40px;height: 40px;text-align: center;font-size:inherit;color: #fff;}
.ahy-btn {padding: 0px;text-align: center;margin-left: 25px;margin-top: 3px;}
.ahy-btn span{font-style: italic;}
.social-icon i{padding: 10px 0px;font-size: 25px;}
.social-icon i.fa-facebook , .social-icon i.fa-twitter{color: #8BADDC;}
.social-icon i.fa-youtube , .social-icon i.fa-google-plus, .social-icon i.fa-instagram{color: #F392F6;}
.search{padding: 6px;font-size: 25px;}
.navbar-collapse.collapse{background-color: #000;margin: 0px !important;}
.navbar-nav{display: inline-block;padding-top: 10px;}
.navbar-nav >li{padding-left: 20px;margin-left: 15px;}
.navbar-nav >li >a {color: #fff !important;font-size: 18px;text-transform: uppercase;font-weight:500;}
.ahy-icons{margin-top: 10px;}
.ahy-icons ul{display: inline-block;padding: 0px !important;}
.ahy-icons ul li{display: inline-block;list-style: none;}
.search{text-align: center;color: #fff;padding: 0px !important;margin-top: 10px;cursor: pointer;}
.search h6{display: inline-block;font-size: 14px;text-transform: uppercase;padding-right: 10px;font-family: inherit;margin-right: 4px;}
.ahy-icons{text-align: center;padding: 0px !important;margin-left: 40px;}
.ahy-icons a{display: inline-block;}
.navbar-default .navbar-nav>.active>a{background: transparent !important;color: #FC3947 !important;}
.upload-plyr input{width: 100%;}
span.upload{width: 0;height: 0;border: 0 solid transparent;border-bottom-width: 16px;border-top-width: 17px;border-left: 10px solid black;}

.mob-list{position: absolute;width: 100%;height: 100%;top: 0px;left: 100%;background-color: rgba(11,11,11,0.96);color: #fff;z-index: 9;}
.mob-list span.closeList{margin: 20px;font-size: 1em;}
.mob-list h5 a{color: #fff !important;}
.mob-list h5 .menu-primary-menu-container ul{margin-top: 30%;padding: 0px;}
.mob-list h5 .menu-primary-menu-container ul li{list-style: none;}
.mob-list h5 .menu-primary-menu-container ul li a{color: #fff !important;}
nav#site-navigation {margin-top: -1px;}


/*mobile header starts*/

header.mob-header{background: #000;color: #fff;border-bottom: 5px solid red;position: fixed;top: 0%;left: 0%;width: 100%;height: 66px;z-index: 2;font-family: 'neonoire' }
header.mob-header ul.list-wrap{width: 100%;padding: 5px;height: 100%;}
header.mob-header ul.list-wrap li{display: inline-block;float: left;list-style: none;margin: 10px 20px;}
header.mob-header ul.list-wrap li span{color: #fff;font-size: 1.5em;}

.slideMobile{
animation-name:slideMobile;
transform .35s ease-out;
transition-property: transform;
animation-duration:0.8s;
animation-delay:0.2s;
animation-timing-function: linear;
animation-fill-mode: both;
animation-direction: both;
transition-delay: initial;
left: 0% !important;}

@keyframes slideMobile{
  from{
  left: 100%;
  }
  to{
  left: 0%;
  }
}

/*mobile header ends*/


/*delay for header*/
body.home header#masthead {
  /*  opacity: 0.001;
    transition: opacity 2s 3s;
    -moz-transition: opacity 2s 3s;
    -webkit-transition: opacity 2s 3s;
    -o-transition: opacity 2s 3s;
    -ms-transition: opacity 2s 3s;
    -khtml-transition: opacity 2s 3s;*/
}
.bg-video{margin-top: 5% !important;}
/*header ends*/

/*Footer Starts*/
.sidebar-pagebottom{display: none;}
footer#colophon {width: 100%;text-align: center;z-index: 1000;}

.after-footer{max-width:100%;border-top: 4px solid #F6151B;background-color: #000000 !important;padding-top: 1px !important;padding-bottom:1px !important;font-size:13px !important;font-weight:700;}
span.credits-theme{display: none;}
.site-credits{color: #555555;}
.footer-nav-menu a{color: #555555 !important;}
.menu-footer-menu-container{display: inline-block;padding: 0px !important;margin: 0px !important;}
footer#colophon.site-footer ul {list-style: none;padding-left: 0;display: inline-block;margin: 0px;margin: 2px 0px;}
footer#colophon.site-footer ul li {margin:2px !important;display: inline-block;text-align: center;padding: 0px 6px;}
footer#colophon.site-footer ul li {margin: 0px !important;padding: 3px;}
#footer-navigation ul.dividers > li:nth-child(n+2){border-left: 2px solid #555 !important;padding: 0px 5px;margin: 0px;height: 14px;}
#footer-navigation ul.dividers > li:nth-child(n+2):before{display: none !important;}
#site-credits {padding-top: 10px;padding-bottom: 5px;}
/*Footer Ends*/

/*About Us Starts*/
.ahy-aboutus{margin-top: 40px;font-family: 'Lato', sans-serif;}
.ahy-about-image{background-image: url('../css/Images/about.png');background-size:100% auto;height:700px !important;
    display: inline-block;background-position:center top;background-repeat: no-repeat;}
.about-text {position: absolute;border: 2px solid #D1D1D2;width: 300px;height: 150px;top: 50%;margin-top:-36%;left: 50%;margin-left: -180px;text-align: center;text-transform: uppercase;color: #fff;}
.about-text h1{font-size: 55px;letter-spacing: 6px;line-height: 1.8;font-weight: 200;font-family: 'Lato', sans-serif;}
.ahy-about-text p{font-size: 13px;line-height: 34px;letter-spacing:2px;font-weight: bold;color:#A8A8A8;
    margin-bottom: 25px;padding: 0px 60px;}
/*About Us Ends*/

/*breadcrumbs starts*/
.bread-crumb{margin-top:75px;}
ul#breadcrumbs {display: inline-flex;list-style: none !important;margin: 10px 0px;font-size: 14px;}
li.item-home {padding: 0px 6px;color: #000000;font-weight: 600;text-transform: uppercase;ffont-family: 'Lato', sans-serif;}
li.separator.separator-home {padding: 0px 6px;color: #000;font-weight: 600}
strong.bread-current{color: #FB4A53 ;text-transform: uppercase;font-weight: 600;font-family: 'Lato', sans-serif;}
/*breadcrumbs ends*/

/*Terms of use page Starts*/
hr.ahy-line{width: 100%;margin: 8px 0px 20px 0px;border-style:solid;}
h2.ahy-uppercase{text-transform: uppercase;font-size: 28px;font-weight: 500;color: #353535;letter-spacing: 1px;}
.terms-of-use p{font-family: 'Lato', sans-serif;font-size: 13px;line-height: 34px;letter-spacing:2px;font-weight: bold;color:#A8A8A8;margin-top: 20px;}
/*Terms of use page Ends*/

/*Privacy page starts*/
.privacy{font-family: 'Lato', sans-serif;}
.privacy p{font-size: 14px;line-height: 34px;letter-spacing:2px;font-weight: bold;color:#A8A8A8;}
/*Privacy page ends*/

/*Contact page Starts*/
.ahy-contact-image{background-image: url('../css/Images/contact.png');background-size:100%;height:900px !important;
    display: inline-block;background-position:center top;background-repeat: no-repeat;}
.about-text {position: absolute;border: 2px solid #D1D1D2;width: 340px;height: 150px;top: 50%;margin-top:-40%;left: 50%;margin-left: -180px;text-align: center;text-transform: uppercase;color: #fff;}
textarea.wpcf7-form-control{height: 150px;width: 100%;}
.ahy-contact-text h2{margin: 0px;text-transform: uppercase;font-size: 25px;}
.ahy-contact-text{padding: 0px 50px !important;}
h2 span.are-you {color: #373737;font-size: 22px;font-weight: 600;letter-spacing: 1px;}
h2 span.lets-go {color: #777777;font-size: 22px;font-weight: 600;letter-spacing: 1.2px;}
button.ahy-submit-form{background-color: #2D2D2D;color: #fff;border-radius: 0px;padding: 10px 20px;font-weight: 700;letter-spacing: 1px;}
div.wpcf7{margin-top: 25px !important; padding: 0px 60px !important;}
input.wpcf7-form-control {width: 100%;}
em.ahy-req {color: #F93334;font-size: 10px;position: absolute;margin-top: -15px;}
input:placeholder-shown, textarea:placeholder-shown{padding: 5px;font-size: 14px;font-weight: 400;border: 1px solid #D5D5D5;}
p.ahy-imrt-contact {margin-bottom: 25px;color: #767676;font-size:16px;font-weight: 500; font-family: 'Lato', sans-serif;}

/*Contact page Ends*/ 
/*Sidebar widget*/
.ahy-widget {position: fixed;top: 50%;margin-top: -100px;right: 0;border: 1px solid #fff;width:60px;height: 240px;background: #CCCCCC;}
ul.widget-wrap{list-style: none;display: block;}
li.widget-icon {width: 100%;height: 60px;border-bottom: 2px solid #fff;text-align: center;}
ul.widget-wrap li.active{background-color: #8C8C8C;}
li.widget-icon a i{font-size: 25px;line-height: 60px;color: #DC1F23;}
/*Sidebar widget ends*/

/*Video page starts*/
.video-block {position: absolute;color: #fff;width: 100%;text-align: center;top: 7%;}
.video-block i{padding: 0px 10px; color: red;}
/*Video page ends*/




/* Add Nikhila For Search Button */
/*search overlay starts Ref:2704 */
.overlaybody{display:block;opacity:0;visibility:hidden;content: '';position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.7);z-index: 9999;transform: translateZ(0);-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transition: all 0.4s;-webkit-transition: all 0.4s;-moz-transition: all 0.4s;o-transition: all 0.4s;}
.show{opacity: 1;visibility: visible;}
.active{opacity: 1 !important;visibility: visible !important;}
.hidden{opacity: 0;visibility: hidden;}
.overflow{overflow-y:hidden}
.search-box{height: 100%;padding: 20px 0;z-index: 99999;color: #fff;width: 100%;top: 0;left: 0;position: fixed;opacity: 0;transition: all 0.6s;-webkit-transition: all 0.6s;-moz-transition: all 0.6s;-o-transition: all 0.6s;
}
.search-box i{color: #000;}
form.search-form{border:1px solid red;}
.search-box .close-menu{display: block;color: #FFF;font-size: 35px;line-height: 25px;position: absolute;top:18%;right: 8%;z-index: 110;}

.search-panel{background: rgba(255, 255, 255, 0) none repeat scroll 0 0;border: solid 1px #fff;width: 60%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);z-index:1111111 !important;}
.search-panel .search-field{width: 100%;border:1px solid #fff;/* color: #a2a2a2; */color: #000;font-size: 22px;height: 60px;padding: 7px 65px 10px 15px;overflow: hidden;-webkit-appearance: none;outline: none;
}

.search-panel .search-btn-apart {border-left: 1px solid #FA151A;/* border-top: 1px solid #fff; */background-color: #FA151A;position: absolute;right: 0px;top: 0px;z-index: 99999; height:100%;}
.search-panel .search-btn-apart:before {color: #fff;font-size: 30px;left: 50%;top: 50%;position: absolute;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);}

.search-panel .search-btn{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: none;height: 60px;cursor: pointer;color: transparent;position: relative;z-index: 99;padding: 0 5px;width:60px;}
#search_result_auto {position: absolute;top: 70px;left: 0;right: 0;width: 100%;text-align: left;clear: both;height: 250px;overflow-y: auto;overflow-x: hidden;}

input[type="search"]{-webkit-appearance: textfield !important;border: 1px solid #DDDDDD;}

.blur{
    filter:  grayscale(0)  blur(30px);
    -webkit-filter:  grayscale(0)  blur(30px);
    -moz-filter:  grayscale(0)  blur(30px);
    -o-filter:  grayscale(0)  blur(30px);
    -ms-filter:  grayscale(0)  blur(30px);
     /*backdrop-filter: blur(5px)*/
}
/*search overlay ends End Ref: 2704 */



/*Calendar Event Page*/
.add-mrg{margin-bottom: 30px;}
body.tribe-events-style-skeleton .entry-content{width: 100% !important;}
.tribe-events-calendar{border-spacing: 15px !important;border-collapse: inherit !important;border: 0px solid !important;}
.tribe-events-calendar td{border-top: 1px solid #D2D2D2 !important;}
.tribe-events-calendar thead th{border:0px solid !important;background-color: #fff !important;font-size: 20px;font-weight: 200;letter-spacing: 0px;color: #646464 !important;}
.tribe-events-month{margin: 0px auto !important;font-family: 'Lato', sans-serif;overflow: auto;}
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td div[id*=tribe-events-daynum-]{background-color: red !important;color: #fff !important;position: absolute;display: inline-block;z-index: 9;top: 5%;right: 0%;width: 30px;height: 30px;opacity: 0.5;font-size: 17px;}
#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth{background-color: #DAD8D9 !important;}
.tribe-events-list .tribe-events-event-image, .tribe-events-list .tribe-events-event-image img {
    width:100% !important;
}
.tribe-events-list{margin: 0px 100px 50px !important;overflow: hidden;}

h2.tribe-events-page-title{text-align: left !important;margin-left: 2.5%;font-weight: 500;}
h3.tribe-events-month-event-title{position: absolute;bottom: 1%;background-color: rgba(0,0,0,0.7);width: 100%;
    padding: 7px 0px !important;left: 0%;text-align: center;font-size: 14px;}
.tribe-events-list h5{color: #ff0000;font-weight: 700;text-transform: capitalize;font-size:20px; margin-left: 2.5%;}
h3.tribe-events-month-event-title a{color: #fff !important;}
select.tribe-bar-views-select{display: none !important;}
ul.tribe-bar-views-list{text-align: center;}
ul.tribe-bar-views-list li{display: inline-block;list-style: none;padding: 0px 10px;}
#tribe-bar-collapse-toggle{display: none;}
ul.tribe-events-sub-nav{display: none;}
a.tribe-events-ical{display: none;}
/*li.tribe-bar-views-option-list a,li.tribe-bar-views-option-month a{color: #D6D6D6;}*/
.tribe-bar-active a{color: red !important;}
.active-list{color:#D6D6D6 !important;}
.inactive-list{color:#D6D6D6 !important;}
li.tribe-bar-views-option-list a::after{content:"\f00a" !important;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size:50px;text-rendering: auto;-webkit-font-smoothing: antialiased}
li.tribe-bar-views-option-month a::after{content: "\f073" !important;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size:50px;text-rendering: auto;-webkit-font-smoothing: antialiased}
span.tribe-icon-month,span.tribe-icon-list{display: none;}
.tribe-events-list-separator-month{display: none;}
address.tribe-events-address{display: none !important;}
a.tribe-events-gmap{display: none;}
.tribe-events-list-event-description{display: none;}
/*.tribe-events-list {text-align: center;}*/
/*.tribe-events-event-image img {height: 170px !important }*/





/*modal changes 26th May*/
/*animation starts*/
.slideLeft{
animation-name:slideLeft;
transform .35s ease-out;
transition-property: transform;
animation-duration:1.5s;
animation-delay:1s;
animation-timing-function: ease-out;
animation-fill-mode: both;
animation-direction: both;
transition-delay: initial;
transform:translateX(5px);
/*width:60% !important;*/
}

@keyframes slideLeft{
  from{
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  }
  to{
  transform:translateX(5px);
  -webkit-transform:translateX(5px);
  -moz-transform:translateX(5px);
  }
}


.slideLeftComment{
animation-name:slideLeft;
transform .35s ease-out;
transition-property: transform;
transition-duration: 0.35s;
transition-timing-function: ease-out;
transition-delay: initial;
transform:translateX(-500px);
opacity: 0;
}

@keyframes slideLeftComment{
  from{
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  }
  to{
  transform:translateX(-500px);
  -webkit-transform:translateX(-500px);
  -moz-transform:translateX(-500px);
  }
}


/*.hideCommentBtn{animation-name:hideCommentBtn;
transform .35s ease-out;
transition-property: transform;
transition-duration: 0.35s;
transition-timing-function: ease-out;
transition-delay: initial;
transform:translateX(100px) !important;
opacity: 0;}

@keyframes hideCommentBtn{
from{
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  }
  to{
    transform:translateX(100px);
  -webkit-transform:translateX(100px);
  -moz-transform:translateX(100px);}
}
*/
.closeBtn{animation-name:closeBtn;
transform .35s ease-out;
transition-property: transform;
transition-duration: 0.35s;
transition-timing-function: ease-out;
transition-delay: initial;
transform:translateX(0px) !important;opacity: 1 !important;}

@keyframes closeBtn{
from{
  transform:translateX(117px);
  -webkit-transform:translateX(117px);
  -moz-transform:translateX(117px);
  }
  to{
    transform:translateX(0px);
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);}
}



/*animation ends*/
.move-top{top: 3%;right: 14% !important;z-index: 9;}
/*.data-left{position:absolute;left: 3% !important;}*/
.data-right{position:absolute;left: 53% !important;}
.ahy-modal footer.entry-meta{display: none;}
.ahy-modal .abc div.commentbox {display: inline-block;position: absolute;right: 5%;top: 5%;width: 30%;/*transform:translateX(500px);*/}
.ahy-modal .abc div.commentbox .comment-logs{max-height: 300px !important;border: 1px solid red;height: 400px;overflow-y: auto;}




.ahy-modal ul#collapseExample {display: inline-block;max-height: 300px !important;overflow-y: auto;float: right;
    width: 100%;margin-top:10px;visibility: visible;height: 400px !important;background:#fff;}
.ahy-modal div#respond {display: inline-block;margin-top: -12px;}
.ahy-modal div#respond h3#reply-title {margin: 5px;font-size: 20px;}
.ahy-modal div#respond form.comment-form p{margin:0 0 5px;}
.ahy-modal div#respond form.comment-form p textarea#comment {max-height: 80px !important;}
.ahy-modal div#respond form.comment-form input[type="text"],.ahy-modal div#respond form.comment-form input[type="email"] {width: 100% !important; height: 40px !important;}
.ahy-modal p.comment-notes, .ahy-modal p.comment-form-url , .ahy-modal p.comment-form-email{display: none;}
.ahy-modal .modal-footer {padding: 180px 10px 10px;text-align: right;border: 0px solid !important;}
.ahy-modal .modal-footer button.ahy-close{background: red !important;border-color: red; color: #fff !important;}
.ahy-modal h4 ul.post-categories{display: inline-block  !important;padding: 0px 0px 0px 20px  !important;}
.ahy-modal h4 ul.post-categories li{display: inline-block; list-style: none !important;}
.ahy-modal .comment-wrap p.hide-modal{display: none !important;}
.ahy-modal .comment-content, .ahy-modal cite.fn, .ahy-modal .comment-metadata{color: #000 !important;}
.ytp-right-controls a.ytp-youtube-button{display: none !important;}
.player .controls .logo{display: none !important;}
/*.type-tribe_events{border: 1px solid #333;}*/


.slideRight{
animation-name:slideRight;
animation-play-state: initial;
animation-duration:1s;
    transition-duration: 2s;
animation-delay:0.5s;
animation-timing-function: ease-out;
animation-fill-mode: both;
animation-direction: both;
-webkit-animation-name:slideRight;
-webkit-animation-play-state: initial;
-webkit-animation-duration:1s;
-webkit-animation-delay:0.5s;
-webkit-animation-timing-function: ease-out;
-webkit-animation-fill-mode: both;
-webkit-animation-direction: both;
-moz-animation-name:slideRight;
-moz-animation-play-state: initial;
-moz-animation-duration:1s;
-moz-animation-delay:0.5s;
-moz-animation-timing-function: ease-out;
-moz-animation-fill-mode: both;
-moz-animation-direction: both;
}


@keyframes slideRight{
from{transform:translateX(500px);}
to{transform:translateX(0px);}
}
@-webkit-keyframes slideRight{
from{-webkit-transform:translateX(500px);}
to{-webkit-transform:translateX(0px);}
}
@-moz-keyframes slideRight{
from{-moz-transform:translateX(500px);}
to{-moz-transform:translateX(0px);}
}

.slideInUp{animation-name:slideInUp;
animation-play-state: initial;
animation-duration:1s;
/*animation-delay:0.5s;*/
opacity: 1 !important;
animation-timing-function: linear;
animation-fill-mode: both;
animation-direction: both;
-webkit-animation-name:slideInUp;
-webkit-animation-play-state: initial;
-webkit-animation-duration:1s;
/*-webkit-animation-delay:0.5s;*/
-webkit-animation-timing-function: linear;
-webkit-animation-fill-mode: both;
-webkit-animation-direction: both;
-moz-animation-name:slideInUp;
-moz-animation-play-state: initial;
-moz-animation-duration:1s;
/*-moz-animation-delay:0.5s;*/
-moz-animation-timing-function: linear;
-moz-animation-fill-mode: both;
-moz-animation-direction: both;}

@keyframes slideInUp{
from{transform:translateY(460px);}
to{transform:translateY(0px);}
}
@-webkit-keyframes slideInUp{
from{-webkit-transform:translateY(460px);}
to{-webkit-transform:translateY(0px);}
}
@-moz-keyframes slideInUp{
from{-moz-transform:translateY(460px);}
to{-moz-transform:translateY(0px);}
}


/*media query for calendar*/
@media screen and (max-width:340px){
  header.mob-header ul.list-wrap li{margin: 10px 4px;}
}

@media screen and (min-width: 341px) and (max-width:380px){
  header.mob-header ul.list-wrap li{margin: 10px 7px;}
}

@media screen and (max-width:400px) and (min-width:381px){
  header.mob-header ul.list-wrap li{margin: 10px 10px;}
}

@media screen and (max-width:999px) and (min-width:766px){
  #tribe-events-content{margin: 0px 0px 0px !important;}
  nav#site-navigation{padding: 0px;}
  .navbar-nav >li{padding-left: 0px;}
  .navbar-nav >li >a{padding: 10px 0px !important; font-size: 13px;}
  .ahy-btn{margin: 3px 0px !important;}
  .ahy-btn .ahy-submit{font-size: 14px !important;}
  .ahy-icons{margin: 10px 0px 0px 0px !important;}
  .ahy-icons ul{margin-bottom: 1px !important;}
  span.social-icon{width: 30px !important;}
  span.seach-i {position: absolute;top: 3px;left: 80px;}
  h3.tribe-events-month-event-title{bottom: -37%; font-size: 12px;}
  .no-padd{padding: 0px !important;}
}

@media screen and (max-width:1200px) and (min-width:1000px){
  .ahy-icons{margin: 8px 0px 0px 0px;}
  .navbar-nav>li{padding: 0px;margin-top: -6px;}
  .navbar-nav>li>a{font-size: 13px;}
  .ahy-btn{margin: 3px !important;}
  .ahy-submit {font-size: 14px !important;margin: 16px 0px 0px;}
  span.social-icon{width: 30px;}
  .search span{font-size: 13px;}
  .search h6{margin: 0px 4px 0px 0px !important;font-size: 13px;}
}

@media screen and (min-width: 992px){
.modal-lg {width: 85% !important;}
}
@media screen and (max-width:766px) and (min-width:300px){
  header.mob-header{display: block;}
  header#masthead{display: none !important;}
  .mob-list{display: block;}
}

@media screen and (min-width:767px){
  header.mob-header{display: none !important;}
  .mob-list{display: none !important;}
  header#masthead{display: block;}

}

@media screen and (max-width: 767px){
  .ahy-modal div#comments {opacity:0;display: inline-block;position: absolute;top: 5%;right: 1%;width: 92%;margin: 3%;background-color: rgba(0,0,0,0.96);transform:translateY(460px) !important;}
  a.Ahy img.thumbnail{margin-bottom: 0px !important;}
  .ahy-modal article.post{margin-bottom: 0px !important;}
  .no-padd{padding: 0px !important;height: 364px !important;}
  /*.ahy-modal .modal-lg{width: 48% !important;margin: 5% 1%;}*/
  /*.about-text{margin-left: -170px;}*/
  .ahy-submit-page-text{margin-top: -100px;}
  /*.ahy-home-overlay {height: 86px;margin: 0 26px !important;}*/
  /*.ahy-home-overlay p{font-size: 26px;line-height: 26px;margin-top:18px;  }*/

}

.wrap-details {
    position: absolute;
    bottom: 0%;
    width: 92%;
    border: 1px solid beige;
    left: 4%;
    background:#fff;
    color: red;
    height: 160px;
}

/*p.notifier {
    position: absolute;
    top: 1%;
    color: #fff;
    background: red;
    left: 6%;
}*/
/*Event Page Calender View | Author | Prashant Yadav*/
  p.notifier{ position: absolute; top: 3%;color: #fff;  background: red;left: 6%;text-transform: capitalize;font-size: 13px; padding: 2px;font-weight: 500;line-height: 20px;
      border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius:5px;
      display: none;
  }
  p.ahy-date{margin-top: 23px; padding-left: 30px;max-width: 22px;text-align: center;display: inline-block;}
  span.ahy-day{display: inherit;font-size: 30px;font-weight: 500; color: #000;}
  span.ahy-month{padding: 6px; font-weight: 400;}

  .ahy-other-detail{display: inline-block;padding-left: 45px; min-width: 80%;}
  p.ahy-name{font-weight: 500;color: #000; line-height: 21px;}
  p.ahy-venue{font-weight: 400;}

  p.ahy-time{font-size: 30px; margin-top: 30px; margin-left: 30px; font-weight: 400; color: #646464;display: inline-block;}
  p.ahy-time-period{ display: inline-block; position: relative; bottom: 20px;     font-weight: 500; text-transform: uppercase; font-size: 16px;} 

  

  .tribe-events-loop .tribe-events-event-meta,.tribe-events-list-event-title{display:none;}
  .tribe-events-start-time{text-transform: uppercase;}

  .tribe-events-tooltip{z-index: 1000 !important;}
  .tribe-events-single-event-description{text-align: justify;}
   .tribe-bar-views-list{padding: 0 !important;}
   .tribe-events-calendar td{padding: 0 !important; }
   .events-archive.events-gridview #tribe-events-content table .tribe-events-last{padding: 0 !important;margin: 0 !important;}
   .tribe-events-calendar td div[id*=tribe-events-daynum-]{padding: 5px 7px !important;}
   .tribe-events-notices li{color: red;font-size: 20px;font-weight: 500;}
   
/*End*/

/*Media Queries for Event Grid view | Author | Prashant Yadav*/
@media screen and (max-width: 769px){
  .tribe-events-list{margin: 0px !important;}
  h2.tribe-events-page-title{text-align: center !important;}
  .tribe-events-list h5.text-left{text-align: center !important;}
 
  p.ahy-time{font-size:24px;}

  /*Single Event View Page */
    .tribe-events-single-event-description{padding: 0 20px 20px 20px !important;} 
    .tribe-events-single-event-title{padding-left: 20px;}
    .tribe-events-event-meta{padding-left: 20px; }
   

  /*Ends*/
}
/*Ends*/

/*7th June | Single Event Page-Nikhila*/
.tribe-events-event-image img{width: 100% !important;height: 450px !important;}
body.single-tribe_events .banner-image{display: none;}
body.single-tribe_events #tribe-events{margin-top: 6%;}
body.single-tribe_events .tribe-events-event-meta{margin:10px -4% 30px 0 !important;}
body.single-tribe_events abbr.tribe-events-start-date:before{content: "\f073" !important; display: inline-block;color: red;font: normal normal normal 14px/1 FontAwesome;font-size: 20px;text-rendering: auto;-webkit-font-smoothing: antialiased;}
body.single-tribe_events dd .tribe-events-start-time{margin-left: 30px;}
body.single-tribe_events dl dd.tribe-venue:before{content: "\f041" !important;display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 20px;color: red;text-rendering: auto;-webkit-font-smoothing: antialiased;}

body.events-gridview div#tribe-bar-views{text-align: center;}
body.events-gridview {text-align: center;}
body.events-gridview ul li.tribe-bar-views-option-month{float: right;}
body.events-gridview ul.tribe-bar-views-list{text-align: center;display: inline-block;}

body.single-tribe_events #comments{margin-top: 50px !important;}
body.single-tribe_events .comment-count{float: left;}
body.single-tribe_events .comment-count a.ahy-btn{margin-left: 0px;}

p.form-submit{margin-top: 5px !important;}

/*single post */
body.single-post #content{margin-top: 80px;}
body.single-post #comments{margin-top: 70px !important;}
body.single-post .comment-count a.ahy-btn{margin-left: 0px;}
body.single-post .comment-count{float: left;}
body.single-post #content{margin-top: 80px;}
body.single-post .entry-content p iframe{width: 100% !important; height: 500px !important;}


/*End*/



/*Submit Page Media Queries | Author | Prashant Yadav*/
  @media screen and (max-width:767px){
    .ahy-submit-page-text{margin-top:10px !important;}
    .ahy-contact-image{height: 600px !important;background-size:100% 100%; }
    div.wpcf7{padding: 0px 10px !important;}
    .about-text{left: 52%;top:65%;}
    body.events-gridview{display: none !important;}
    body.events-list  ul.tribe-bar-views-list{display: none !important;}
  }
  @media screen and (max-width:775px) and (min-width: 768px){
    .ahy-contact-image{height: 900px !important;background-size:100% 100%; }
    .about-text{left: 52%;top:55%;}
     div.wpcf7{padding: 0px 10px !important;}
  }
  }
/*End