/*
	Author: Harpreet Singh
	One man's constant is another man's variable!
*/

/*HOMEPAGE GRIDS STARTS*/
.ahy-home-overlay .home-page-grid{margin-bottom:20px;padding:0!important;}
/* .home-page-grid {padding: 0;} */
.home-page-grid article{float:left;height:100%;width:100%}
.ahy-post-thumbnail{width:100%;height:100%;position:relative;}
.ahy-post-thumbnail a{width:100%;height:100%;/* display:inline-block; */}
.ahy-post-thumbnail img.thumbnail{width:100%;}
.ahy-post-thumbnail div.post-mask{width:100%;}
.ahy-post-thumbnail .blur12{width:100%;height:100%;display:inline-block;}
.ahy-post-thumbnail .blur12 .blurWrap{width:100%;height:100%;margin:0;padding:0;position:absolute;}
.ahy-post-thumbnail .ahy-overlay-g {
    position: absolute;
	color:#fff;
	width:100%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 50px 0px 0px 0;
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);*/
   
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}
.ahy-post-thumbnail .ahy-overlay-g p{text-transform:uppercase;font-weight:800;padding:0 35px;}

.linerGrid-1{background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.09) 11%, rgba(0,0,0,0.21) 23%, rgba(0,0,0,0.7) 59%, rgba(0,0,0,0.91) 77%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0.09)), color-stop(23%,rgba(0,0,0,0.21)), color-stop(59%,rgba(0,0,0,0.7)), color-stop(77%,rgba(0,0,0,0.91)), color-stop(89%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.09) 11%,rgba(0,0,0,0.21) 23%,rgba(0,0,0,0.7) 59%,rgba(31,157,203,0.91) 77%,rgba(31,157,203,1) 89%,rgba(31,157,203,1) 100%);
    background: -o-linear-gradient(top, rgba(31,157,203,0) 0%,rgba(31,157,203,0.09) 11%,rgba(31,157,203,0.21) 23%,rgba(31,157,203,0.7) 59%,rgba(31,157,203,0.91) 77%,rgba(31,157,203,1) 89%,rgba(31,157,203,1) 100%);
    background: -ms-linear-gradient(top, rgba(31,157,203,0) 0%,rgba(31,157,203,0.09) 11%,rgba(31,157,203,0.21) 23%,rgba(31,157,203,0.7) 59%,rgba(31,157,203,0.91) 77%,rgba(31,157,203,1) 89%,rgba(31,157,203,1) 100%);
    background: linear-gradient(to bottom, rgba(31,157,203,0) 0%,rgba(31,157,203,0.09) 11%,rgba(31,157,203,0.21) 23%,rgba(31,157,203,0.7) 59%,rgba(31,157,203,0.91) 77%,rgba(31,157,203,1) 89%,rgba(31,157,203,1) 100%);
}


.linerGrid-2{

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0.09)), color-stop(23%,rgba(0,0,0,0.21)), color-stop(59%,rgba(0,0,0,0.7)), color-stop(77%,rgba(0,0,0,0.91)), color-stop(89%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.09) 11%, rgba(0,0,0,0.21) 23%, rgba(0,0,0,0.7) 59%, rgba(0,0,0,0.91) 77%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.09) 11%,rgba(0,0,0,0.21) 23%,rgba(0,0,0,0.7) 59%,rgba(31,157,203,0.91) 77%,rgba(31,157,203,1) 89%,rgba(31,157,203,1) 100%);
    background: -o-linear-gradient(top, rgba(203,95,203,0) 0%,rgba(203,96,179,0.09) 11%,rgba(174,18,166,0.21) 23%,rgba(174,18,166,0.7) 59%,rgba(174,18,166,0.91) 77%,rgba(222,72,204,1) 89%,rgba(222,72,204,1) 100%););
    background: -ms-linear-gradient(top, rgba(203,95,203,0) 0%,rgba(203,96,179,0.09) 11%,rgba(174,18,166,0.21) 23%,rgba(174,18,166,0.7) 59%,rgba(174,18,166,0.91) 77%,rgba(222,72,204,1) 89%,rgba(222,72,204,1) 100%););
    background:linear-gradient(to bottom, rgba(203,95,203,0) 0%,rgba(203,96,179,0.09) 11%,rgba(174,18,166,0.21) 23%,rgba(174,18,166,0.7) 59%,rgba(174,18,166,0.91) 77%,rgba(222,72,204,1) 89%,rgba(222,72,204,1) 100%);
}

.linerGrid-tag{

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0.09)), color-stop(23%,rgba(0,0,0,0.21)), color-stop(59%,rgba(0,0,0,0.7)), color-stop(77%,rgba(0,0,0,0.91)), color-stop(89%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.09) 11%, rgba(0,0,0,0.21) 23%, rgba(0,0,0,0.7) 59%, rgba(0,0,0,0.91) 77%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,48,25,0) 0%,rgba(255,48,25,0.09) 11%,rgba(255,48,25,0.21) 23%,rgba(255,48,25,0.7) 59%,rgba(255,48,25,0.91) 77%,rgba(255,48,25,1) 89%,rgba(207,4,4,1) 100%);
    background: -o-linear-gradient(top, rgba(255,48,25,0) 0%,rgba(255,48,25,0.09) 11%,rgba(255,48,25,0.21) 23%,rgba(255,48,25,0.7) 59%,rgba(255,48,25,0.91) 77%,rgba(255,48,25,1) 89%,rgba(207,4,4,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,48,25,0) 0%,rgba(255,48,25,0.09) 11%,rgba(255,48,25,0.21) 23%,rgba(255,48,25,0.7) 59%,rgba(255,48,25,0.91) 77%,rgba(255,48,25,1) 89%,rgba(207,4,4,1) 100%);
    background:linear-gradient(to bottom, rgba(255,48,25,0) 0%,rgba(255,48,25,0.09) 11%,rgba(255,48,25,0.21) 23%,rgba(255,48,25,0.7) 59%,rgba(255,48,25,0.91) 77%,rgba(255,48,25,1) 89%,rgba(207,4,4,1) 100%);
}

.linerGrid-3{
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0.09)), color-stop(23%,rgba(0,0,0,0.21)), color-stop(59%,rgba(0,0,0,0.7)), color-stop(77%,rgba(0,0,0,0.91)), color-stop(89%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));

background: -moz-linear-gradient(top, rgba(210,255,82,0) 0%, rgba(145,232,66,0.09) 11%, rgba(145,232,66,0.21) 23%, rgba(145,232,66,0.7) 59%, rgba(145,232,66,0.91) 77%, rgba(145,232,66,1) 89%, rgba(145,232,66,1) 100%);

background: -webkit-linear-gradient(top,rgba(210,255,82,0) 0%, rgba(145,232,66,0.09) 11%, rgba(145,232,66,0.21) 23%, rgba(145,232,66,0.7) 59%, rgba(145,232,66,0.91) 77%, rgba(145,232,66,1) 89%, rgba(145,232,66,1) 100%);

background: linear-gradient(to bottom, rgba(210,255,82,0) 0%, rgba(145,232,66,0.09) 11%, rgba(145,232,66,0.21) 23%, rgba(145,232,66,0.7) 59%, rgba(145,232,66,0.91) 77%, rgba(145,232,66,1) 89%, rgba(145,232,66,1) 100%); 

background: -o-linear-gradient(top, rgba(210,255,82,0) 0%, rgba(145,232,66,0.09) 11%, rgba(145,232,66,0.21) 23%, rgba(145,232,66,0.7) 59%, rgba(145,232,66,0.91) 77%, rgba(145,232,66,1) 89%, rgba(145,232,66,1) 100%);

background: -ms-linear-gradient(top,rgba(210,255,82,0) 0%, rgba(145,232,66,0.09) 11%, rgba(145,232,66,0.21) 23%, rgba(145,232,66,0.7) 59%, rgba(145,232,66,0.91) 77%, rgba(145,232,66,1) 89%, rgba(145,232,66,1) 100%);

}

.linerGrid-4{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0.09)), color-stop(23%,rgba(0,0,0,0.21)), color-stop(59%,rgba(0,0,0,0.7)), color-stop(77%,rgba(0,0,0,0.91)), color-stop(89%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.09) 11%, rgba(0,0,0,0.21) 23%, rgba(0,0,0,0.7) 59%, rgba(0,0,0,0.91) 77%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(41,154,11,0) 0%,rgba(41,154,11,0.09) 11%,rgba(41,154,11,0.21) 23%,rgba(41,154,11,0.7) 59%,rgba(41,154,11,0.91) 77%,rgba(41,154,11,1) 89%,rgba(41,154,11,1) 100%);
    background: -o-linear-gradient(top, rgba(41,154,11,0) 0%,rgba(41,154,11,0.09) 11%,rgba(41,154,11,0.21) 23%,rgba(41,154,11,0.7) 59%,rgba(41,154,11,0.91) 77%,rgba(41,154,11,1) 89%,rgba(41,154,11,1) 100%);
    background: -ms-linear-gradient(top, rgba(41,154,11,0) 0%,rgba(41,154,11,0.09) 11%,rgba(41,154,11,0.21) 23%,rgba(41,154,11,0.7) 59%,rgba(41,154,11,0.91) 77%,rgba(41,154,11,1) 89%,rgba(41,154,11,1) 100%);
    background:linear-gradient(to bottom, rgba(41,154,11,0) 0%,rgba(41,154,11,0.09) 11%,rgba(41,154,11,0.21) 23%,rgba(41,154,11,0.7) 59%,rgba(41,154,11,0.91) 77%,rgba(41,154,11,1) 89%,rgba(41,154,11,1) 100%);
}

.linerGrid-5{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(11%,rgba(0,0,0,0.09)), color-stop(23%,rgba(0,0,0,0.21)), color-stop(59%,rgba(0,0,0,0.7)), color-stop(77%,rgba(0,0,0,0.91)), color-stop(89%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -moz-linear-gradient(top, rgba(252,234,187,0) 0%,rgba(252,234,187,0.09) 11%,rgba(252,234,187,0.21) 23%,rgba(252,205,77,0.7) 59%,rgba(248,181,0,0.91) 77%,rgba(248,181,0,1) 89%,rgba(251,223,147,1) 100%);
    background: -webkit-linear-gradient(top,rgba(252,234,187,0) 0%,rgba(252,234,187,0.09) 11%,rgba(252,234,187,0.21) 23%,rgba(252,205,77,0.7) 59%,rgba(248,181,0,0.91) 77%,rgba(248,181,0,1) 89%,rgba(251,223,147,1) 100%);
    background: -o-linear-gradient(top,rgba(252,234,187,0) 0%,rgba(252,234,187,0.09) 11%,rgba(252,234,187,0.21) 23%,rgba(252,205,77,0.7) 59%,rgba(248,181,0,0.91) 77%,rgba(248,181,0,1) 89%,rgba(251,223,147,1) 100%);
    background: -ms-linear-gradient(top,rgba(252,234,187,0) 0%,rgba(252,234,187,0.09) 11%,rgba(252,234,187,0.21) 23%,rgba(252,205,77,0.7) 59%,rgba(248,181,0,0.91) 77%,rgba(248,181,0,1) 89%,rgba(251,223,147,1) 100%);
    background:linear-gradient(to bottom, rgba(252,234,187,0) 0%,rgba(252,234,187,0.09) 11%,rgba(252,234,187,0.21) 23%,rgba(252,205,77,0.7) 59%,rgba(248,181,0,0.91) 77%,rgba(248,181,0,1) 89%,rgba(251,223,147,1) 100%);
}

.cat-6{background:#F6B404;border-color:#F6B404;}
.cat-5{background:#2B930E;border-color:#2B930E;}
.cat-2{background:#1D94BF;border-color:#1D94BF;}
.cat-4{background:#90E243;border-color:#90E243;}
.cat-3{background:#ED008C;border-color:#ED008C;}
/*.cat-5{background:#29980B }*/



/*HOMEPAGE GRIDS ENDS*/
/*Exclusive videos category pages | Author Prashant Yadav*/
.exclusive-tab{padding:5px;}

.exclusive-inner:before{
    padding-top: 75%;
    content: '';
    display: block;
}
.exclusive-inner a:before{    
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.exclusive-inner a{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
}

.exclusive-inner span.exclusive-title{ 
    position: absolute;
    display: inline-block;
    bottom: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-size: 25px;
    width: 100%;
    left: 0;
}
.exclusive-inner p.exclusive-subtitle{font-size: 15px;line-height: 15px;}
.exclusive-inner span.exclusive-play-outer{
    background: black;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    opacity: 0.8;
    color:#ffffff;
}
.exclusive-inner span.exclusive-play-outer:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.1em;
}

.exclusive-inner span.exclusive-play-inner{
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    -ms-border-radius:50%;
    border: 2px solid #ffffff;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 0px 0px 0px 5px;
    font-size: 25px;
}
 span.exclusive-tag-outer{
    text-align: left;
    padding: 20px;
    position: absolute;
    top: 0;
    display: block;
    z-index: 2;
}

 p.exclusive-tag{
    background: red;
    padding: 0px 6px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.7em;
    text-shadow: 0px 2px black;
    box-sizing: 5px;
    box-shadow: 2px 2px 2px black;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
}
.exclusive-inner{
    position: relative;
    overflow: hidden;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;

}

@media screen and (min-width:768px){
    .exclusive-container{
        width:85%;
        margin:0 auto;
    }
}

@media screen and (max-width: 767px){
    .exclusive-inner:before {
        padding-top: 100%;
    
    }
	
}
 .grayscale {
        /* background: url(http://imreallythere.com/wp-content/uploads/2016/07/Gucci-e1469306860740.jpg);*/
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
         
    }

/*Exclusive videos category pages Ends*/

/*Featured Player Controls*/
.featured-controls{
	visibility: hidden;
    position: absolute;
    top: 20%;
    z-index: 100;
    right: 3%;
    font-size: 50px;
    color: yellow;
    cursor: pointer;

    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
/*Featured Player Controls end*/

/*Single post page starts*/
.ahy-container{background-color: rgba(0,0,0,0.8);}
/*Single post page Ends*/

/*Owl Carousel starts*/
.owl-container{position:relative;}
.owl-control-style{
	width:50px;
	height:50px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	background:#72ce97;
	color:#000;
	font-size:1.4em;
	line-height:50px;
	text-align:center;
	cursor:pointer;
}
.owl-custom-controls{
	position: absolute;
	top: 50%;
	width:100%;
}
.owl-item{
	cursor:pointer;
}

/*Owl Carousel Ends*/

/*Image Post Type Starts*/
.content-align-center{max-width: 50%;margin:0 auto;}
/*Image Post Type Ends*/