/* Edits */

.modal-title {
	/*font-family: 'Londrina Solid', Arial, Helvetica, sans-serif, cursive !important;*/
	font-size:1.5em;
	text-align: left;
    padding: 0 10%;
}
.modal-header {
	border-bottom: 0!important;
}
.modal-body p iframe {
	/*max-width: 700px;*/
}
.modal-content {
	/*background-color: transparent !important;*/
	/*border:none!important;*/
	box-shadow: none!important;
}

.navbar-default, .navbar-collapse.collapse {
	background-color: transparent!important;
	border-color: transparent!important;
}
.ahy-submit {color:#000!important; width:auto!important;}
.ahy-submit .glyphicon {margin-left:5px;}
.navbar-nav {padding-top:15px; margin-top: 15px;}
.navbar-nav >li >a {
	color:#000!important;
}
.ahy-icons {margin-top:20px;}
.ahy-icons ul {
	margin:0;
	float:right;
}

.ahy-icons a {line-height: 35px; margin-top: 0;}
.srch {color:#000;}
header#masthead {
	height:70px;
	background: #fff;
	border-bottom: 2px solid #000;
}
#site-branding {
	padding:0!important;
	background-color: transparent!important;
}
#site-branding #logo img {
	margin:0;
	margin: 4px;
    width: auto;
    max-height: 60px;}
#site-branding #logo a {margin:2px 0 0 10px; max-height:73px; display:inline-block;}

header.mob-header {
	height:80px;
	background: #fff;
	border-bottom: 2px solid #000;
}


header.mob-header ul.list-wrap li span {
	color:#000;
}

header.mob-header li.logo a img {
	max-height: 62px;
}
.abc div.commentbox p.speech {
	border: 1px solid #cccccc;
	/*font-family: 'lucida-grand', Arial, Helvetica, sans-serif;*/
	font-size:12px; line-height: 14px;
	text-align: left;
	padding:5px 2%;
	margin:5px 1%;
	/*min-width:50%;*/
	/*max-width: 86%;*/
}
.post-dte, .post-time {
	font-family: 'lucida-grand', Arial, Helvetica, sans-serif;
	font-size:12px; line-height: 14px;
}
.post-data span.user {
	font-size:14px;
}
/* Comments 
.abc div.commentbox p.speech {
	border: 1px solid #cccccc;
	font-family: 'lucida-grand', Arial, Helvetica, sans-serif;
	font-size:12px; line-height: 14px;
	text-align: left;
	padding:5px 2%;
	margin:5px 1%;
	min-width:50%;
	max-width: 86%;
}
.abc div.commentbox span.user {
	width:90%;
}
.abc div.commentbox p.speech:after {
	display: none;
}
/*
.abc div.commentbox .comment-logs {
	background:rgba(0,0,0,0.5);
}*/

.no-padd.home-page-grid {
	padding-left:15px;
	padding-right:15px;
}

.no-padd.home-page-grid article.post {
    margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
	.custom-width {
	    width: 75%!important;
	    max-width: 1160px;
	}
}

@media screen and (max-width: 992px) and (min-width: 480px) {
.no-padd.home-page-grid {
		height:auto!important;
	}
.page-posts .custom-width {
	    width: 100%!important;
	}
.no-padd.home-page-grid {
	padding-left:5px;
	padding-right:5px;
	width:50%;
}

.no-padd.home-page-grid article.post {
    margin-bottom: 10px;
}
}

@media screen and (max-width: 479px) {
	.no-padd.home-page-grid {
	padding-left:0;
	padding-right:0;
}
.no-padd.home-page-grid article.post {
    margin-bottom: 0;
}
}

/* VIDEO PLAYER */
.cstm-vd-player {
	background: transparent !important;
}

.slider {
    border: 0!important;
    height: 5px!important;
    border-radius: 0!important;
}

.vd-progress {
    background: red!important;
    top: -5px!important;
    border-radius: 0!important;
}

.loaded {
    background: #999!important;
    border-radius: 0!important;
}

.volume-seeker {
    background: red!important;
    border-radius: 0!important;
}
.volume-bar {
    height: 5px!important;
    border: 0!important;
    border-radius: 0!important;
    background: #353535!important;
}

.ahy-home-overlay {
    font-family: "Futura";
    font-size: 1.7em;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 100;
    text-shadow: 2px 2px 4px #000000;
}

.ahy-post-thumbnail .ahy-overlay-g p {
	font-family: "Futura";
    font-size: 1.3em!important;
    letter-spacing: 0px!important;
    text-transform: uppercase;
    font-weight: 100!important;
    line-height: 1.1em;
    text-shadow: 1px 1px 2px #000000;
}

.time {
	color:#fff!important;
}

@media screen and (max-width: 767px) {
.modal-title {
    margin-top: 0 !important;
    line-height: 1.2!important;
}
.iframe-holder {
    margin-bottom: 0!important;
}
.comment-div-btn {
    padding: 0 0 15px 0px!important;
}
.subtitle {
    font-size: 16px!important;
}
}
