/*Custom CSS
Ahy Consulting
Date: 20-04-2016
*/

@font-face {
  font-family: 'neonoire';
  src: url('SNNeoNoire-Regular.ttf');
}



/*@import url(https://fonts.googleapis.com/css?family=Indie+Flower);*/



#sidebar-pagebottom{ display: none;}
/*Home Page Starts*/
/*Styling post date*/
.ahy-post-date{ text-align: center; font-family: 'Indie Flower', cursive;}
.ahy-post-date b{ color:red;font-family: 'Indie Flower', cursive; }
/*To remove the border of post*/
.ahy-image{ padding: 0px !important; border-radius: 0px !important}/*Important given b'cause it was not overriding default bootstrap css*/
/*Overlay on image */

.ahy-overlay{
  font-family: 'Indie Flower', cursive;
    position: absolute;
    display: inline-block;
    width: 92.3%;
    background: black;
    opacity: 0.6;
    top:100%;
    height: 23%;
    z-index: 11;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    }

.ahy-overlay p{font-size: 20px;font-weight: 400;color:#fff; text-align:left;padding: 0px 25px;}
.homepage-image{max-height: 500px;}
.ahy-home-overlay{display:none; height: 100px;position: relative;top: -65px;background: #fff;box-shadow: 0px 2px 0px #ccc;}
.ahy-home-overlay p{ text-align: center;font-size: 28px;line-height: 88px;font-weight: normal; }
.ahy-overlay hr{width: 60%;margin: 0 auto;border:0px;border-bottom: 2px solid red;margin-left: 25px;}
 /*Home Page Ends*/ 


 /*No post header on each category page.*/
.ahy-nopost-header{text-align: center;}
/*Breadcrumb on each page*/
.item-cat a, .separator{font-weight: bold;}
.separator{padding:0 5px;}
/*To Keep the banner size same on each category page*/
.banner-image{max-height: 200px;border-bottom: 2px solid #DC1F23;}
p.cat-text {margin: 15px 50px;font-size: 11px;font-weight: 400;letter-spacing: 1px;}

/*Single Post Page Starts*/  
/*Comment form remove label*/
.comment-form, .comment-textarea, textarea{font-family: 'Indie Flower', cursive;}
.comment-form label {display:none;}
.comment-form .form-submit .submit{font-family: 'Indie Flower', cursive;border-radius: 0px; background-color: #222; border-color: #222; font-size: 22px;}
.comment-form input{height: 50px;}
/*-webkit-input-placeholder{ color:#F2F2F2;}
-moz-placeholder{color:#F2F2F2;}
-ms-input-placeholder{color:#F2F2F2;}*/
/*To Hide the leave a comment link on single post page*/
#ahy-post-comment-tag{display: none;}
/*Single Post Page Ends*/


/*Submit page starts*/
.ahy-submit-page-text h2{text-align: center;font-size: 25px;margin: 0px;text-transform: uppercase;}
.ahy-imrt-contact select{width: 100%;padding: 6px 3px;border: 1px solid #D5D5D5;}

/*Inherits contact page css for the rest of the changes.*/
/*Submit page Ends*/


/*Widget starts*/
.ahy-widget ul{padding: 0;}
/*Widget ends*/

/*Prashant's Changes ends*/

/*Nikhila's Changes*/
a{color: #555555 !important;}
body{background-color: #ffffff !important;overflow-x:hidden;font-family: 'neonoire' !important;}

/*.modal-body iframe{width: 750px !important;height: 400px !important;}*/
.modal-body p iframe{width:100% !important;height: 400px;}
.modal-content {
   box-shadow: 0 5px 15px rgba(255,255,255,0.8) !important;
   -o-box-shadow: 0 5px 15px rgba(255,255,255,0.8) !important;
   -moz-box-shadow: 0 5px 15px rgba(255,255,255,0.8) !important;
   -webkit-box-shadow: 0 5px 15px rgba(255,255,255,0.8) !important;
   background-color: rgba(0,0,0,0.8) !important;
}
.modal-header button.close{color: #fff !important;}
.modal-title{text-align: center;color: #fff;text-transform: capitalize;}
.modal-body{color: #fff !important;font-family: 'Indie Flower', cursive;}

/*header starts*/
#logo img{margin-top: 8px;}
header#masthead {background: #000;color: #fff;border-bottom: 5px solid red;position: fixed;top: 0%;left: 0%;width: 100%;height: 66px;z-index: 999;}
.site-branding {padding-top: 12px !important;padding-bottom: 5px !important;background-color: #000;}
.upload-plyr {margin-top: 15px;margin-left: 0px;}
ul#menu-primary-menu {padding-top: 5px;text-align: center;}
.content-header{display: none;}
.navbar-default{background-color: #000 !important;border-color: #000 !important;}
header.site-header{border: 0px solid #000;}
.ahy-submit{text-transform: uppercase;font-size: 18px !important;margin-top: 7px;margin-left: 18px;color: #fff !important;padding-top: 0px;margin-top: 8px;}
span.social-icon {display: inline-block;width: 40px;height: 40px;text-align: center;font-size:inherit;color: #fff;}
.ahy-btn {padding: 0px;text-align: center;margin-left: 25px;margin-top: 3px;}
.ahy-btn span{font-style: italic;}
.social-icon i{padding: 10px 0px;font-size: 25px;}
.social-icon i.fa-facebook , .social-icon i.fa-twitter{color: #8BADDC;}
.social-icon i.fa-youtube , .social-icon i.fa-instagram{color: #F392F6;}
.search{padding: 6px;font-size: 25px;}
.navbar-collapse.collapse{background-color: #000;margin: 0px !important;}
.navbar-nav{display: inline-block;padding-top: 10px;}
.navbar-nav >li{padding-left: 20px;margin-left: 15px;}
.navbar-nav >li >a {color: #fff !important;font-size: 18px;text-transform: uppercase;font-weight:500;}
.ahy-icons{margin-top: 10px;}
.search{text-align: center;color: #fff;padding: 0px !important;margin-top: 10px;cursor: pointer;}
.search h6{display: inline-block;font-size: 14px;text-transform: uppercase;padding-right: 10px;font-family: inherit;margin-right: 4px;}
.ahy-icons{text-align: center;padding: 0px !important;margin-left: 40px;}
.ahy-icons a{display: inline-block;}
.navbar-default .navbar-nav>.active>a{background: transparent !important;color: #FC3947 !important;}
.upload-plyr input{width: 100%;}
span.upload{width: 0;height: 0;border: 0 solid transparent;border-bottom-width: 16px;border-top-width: 17px;border-left: 10px solid black;}

/*delay for header*/
body.home header#masthead {
  /*  opacity: 0.001;
    transition: opacity 2s 3s;
    -moz-transition: opacity 2s 3s;
    -webkit-transition: opacity 2s 3s;
    -o-transition: opacity 2s 3s;
    -ms-transition: opacity 2s 3s;
    -khtml-transition: opacity 2s 3s;*/
}
.bg-video{margin-top: 5% !important;}
/*header ends*/

/*Footer Starts*/
.sidebar-pagebottom{display: none;}
footer#colophon {width: 100%;text-align: center;z-index: 1000;}

.after-footer{max-width:100%;border-top: 4px solid #F6151B;background-color: #000000 !important;padding-top: 1px !important;padding-bottom:1px !important;font-size:13px !important;font-weight:700;}
span.credits-theme{display: none;}
.site-credits{color: #555555;}
.footer-nav-menu a{color: #555555 !important;}
.menu-footer-menu-container{display: inline-block;padding: 0px !important;margin: 0px !important;}
footer#colophon.site-footer ul {list-style: none;padding-left: 0;display: inline-block;margin: 0px;margin: 2px 0px;}
footer#colophon.site-footer ul li {margin:2px !important;display: inline-block;text-align: center;padding: 0px 6px;}
footer#colophon.site-footer ul li {margin: 0px !important;padding: 3px;}
#footer-navigation ul.dividers > li:nth-child(n+2){border-left: 1px solid #fff !important;}
#footer-navigation ul.dividers > li:nth-child(n+2):before{display: none !important;}
#site-credits {padding-top: 10px;padding-bottom: 5px;}
/*Footer Ends*/

/*About Us Starts*/
.ahy-aboutus{margin-top: 40px;font-family: 'Indie Flower', cursive;}
.ahy-about-image{background-image: url('../css/Images/about.png');background-size:100% auto;height:700px !important;
    display: inline-block;background-position:center top;}
.about-text {position: absolute;border: 2px solid #D1D1D2;width: 300px;height: 150px;top: 50%;margin-top:-36%;left: 50%;margin-left: -180px;text-align: center;text-transform: uppercase;color: #fff;}
.about-text h1{font-size: 55px;letter-spacing: 6px;line-height: 1.8;font-weight: 200;}
.ahy-about-text p{font-size: 13px;line-height: 34px;letter-spacing:2px;font-weight: bold;color:#A8A8A8;
    margin-bottom: 25px;padding: 0px 60px;}
/*About Us Ends*/

/*breadcrumbs starts*/
ul#breadcrumbs {display: inline-flex;list-style: none !important;margin: 10px 0px;font-size: 14px;}
li.item-home {padding: 0px 6px;color: #000000;font-weight: 600;text-transform: uppercase;font-family: 'Indie Flower', cursive;}
li.separator.separator-home {padding: 0px 6px;color: #000;font-weight: 600}
strong.bread-current{color: #FB4A53 ;text-transform: uppercase;font-weight: 600;font-family: 'Indie Flower', cursive;}
/*breadcrumbs ends*/

/*Terms of use page Starts*/
hr.ahy-line{width: 100%;margin: 8px 0px 20px 0px;border-style:solid;}
h2.ahy-uppercase{text-transform: uppercase;font-size: 28px;font-weight: 500;color: #353535;letter-spacing: 1px;}
.terms-of-use p{ font-family: 'Indie Flower', cursive;font-size: 13px;line-height: 34px;letter-spacing:2px;font-weight: bold;color:#A8A8A8;margin-top: 20px;}
/*Terms of use page Ends*/

/*Privacy page starts*/
.privacy-pg{margin-top: 65px;font-family: 'Indie Flower', cursive;}
.privacy p{font-size: 14px;line-height: 34px;letter-spacing:2px;font-weight: bold;color:#A8A8A8;}
/*Privacy page ends*/

/*Contact page Starts*/
.ahy-contact-image{background-image: url('../css/Images/contact.png');background-size:100%;height:700px !important;
    display: inline-block;background-position:center top;}
.about-text {position: absolute;border: 2px solid #D1D1D2;width: 340px;height: 150px;top: 50%;margin-top:-40%;left: 50%;margin-left: -180px;text-align: center;text-transform: uppercase;color: #fff;}
textarea.wpcf7-form-control{height: 150px;width: 100%;}
.ahy-contact-text h2{margin: 0px;text-transform: uppercase;font-size: 25px;}
.ahy-contact-text{padding: 0px 50px !important;}
h2 span.are-you {color: #373737;font-size: 22px;font-weight: 600;letter-spacing: 1px;}
h2 span.lets-go {color: #777777;font-size: 22px;font-weight: 600;letter-spacing: 1.2px;}
button.ahy-submit-form{background-color: #2D2D2D;color: #fff;border-radius: 0px;padding: 10px 20px;font-weight: 700;letter-spacing: 1px;}
div.wpcf7{margin-top: 25px !important; padding: 0px 60px !important;}
input.wpcf7-form-control {width: 100%;}
em.ahy-req {color: #F93334;font-size: 10px;position: absolute;margin-top: -15px;}
input:placeholder-shown, textarea:placeholder-shown{padding: 5px;font-size: 14px;font-weight: 400;border: 1px solid #D5D5D5;}
p.ahy-imrt-contact {margin-bottom: 25px;color: #767676;font-size:16px;font-weight: 500;font-family: 'Indie Flower', cursive;}

/*Contact page Ends*/ 
/*Sidebar widget*/
.ahy-widget {position: fixed;top: 50%;margin-top: -100px;right: 0;border: 1px solid #fff;width:60px;height: 240px;background: #CCCCCC;}
ul.widget-wrap{list-style: none;display: block;}
li.widget-icon {width: 100%;height: 60px;border-bottom: 2px solid #fff;text-align: center;}
ul.widget-wrap li.active{background-color: #8C8C8C;}
li.widget-icon a i{font-size: 25px;line-height: 60px;color: #DC1F23;}
/*Sidebar widget ends*/
/**/

/* Add Nikhila For Search Button */
/*search overlay starts Ref:2704 */
.overlaybody{display:block;opacity:0;visibility:hidden;content: '';position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.7);z-index: 9999;transform: translateZ(0);-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transition: all 0.4s;-webkit-transition: all 0.4s;-moz-transition: all 0.4s;o-transition: all 0.4s;}
.show{opacity: 1;visibility: visible;}
.active{opacity: 1 !important;visibility: visible !important;}
.hidden{opacity: 0;visibility: hidden;}
.overflow{overflow-y:hidden}
.search-box{height: 100%;padding: 20px 0;z-index: 99999;color: #fff;width: 100%;top: 0;left: 0;position: fixed;opacity: 0;transition: all 0.6s;-webkit-transition: all 0.6s;-moz-transition: all 0.6s;-o-transition: all 0.6s;
}
.search-box i{color: #000;}
form.search-form{border:1px solid red;}
.search-box .close-menu{display: block;color: #FFF;font-size: 35px;line-height: 25px;position: absolute;top:18%;right: 8%;z-index: 110;}

.search-panel{background: rgba(255, 255, 255, 0) none repeat scroll 0 0;border: solid 1px #fff;width: 60%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);z-index:1111111 !important;}
.search-panel .search-field{width: 100%;border:1px solid #fff;/* color: #a2a2a2; */color: #000;font-size: 22px;height: 60px;padding: 7px 65px 10px 15px;overflow: hidden;-webkit-appearance: none;outline: none;
}

.search-panel .search-btn-apart {border-left: 1px solid #FA151A;/* border-top: 1px solid #fff; */background-color: #FA151A;position: absolute;right: 0px;top: 0px;z-index: 99999; height:100%;}
.search-panel .search-btn-apart:before {color: #fff;font-size: 30px;left: 50%;top: 50%;position: absolute;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);}

.search-panel .search-btn{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: none;height: 60px;cursor: pointer;color: transparent;position: relative;z-index: 99;padding: 0 5px;width:60px;}
#search_result_auto {position: absolute;top: 70px;left: 0;right: 0;width: 100%;text-align: left;clear: both;height: 250px;overflow-y: auto;overflow-x: hidden;}

input[type="search"]{-webkit-appearance: textfield !important;border: 1px solid #DDDDDD;}

.blur{
    filter:  grayscale(0)  blur(30px);
    -webkit-filter:  grayscale(0)  blur(30px);
    -moz-filter:  grayscale(0)  blur(30px);
    -o-filter:  grayscale(0)  blur(30px);
    -ms-filter:  grayscale(0)  blur(30px);
     /*backdrop-filter: blur(5px)*/
}
/*search overlay ends End Ref: 2704 */

/*pagination*/
.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}
 
.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}
 
.pagination a:hover{
color:#fff;
background: #3279BB;
}
 
.pagination .current{
padding:6px 9px 5px 9px;
background: #3279BB;
color:#fff;
}
/*pagination*/